<template>
  <v-row no-gutters justify="center">
    <v-col cols="12" md="12">
      <!-- <v-card flat class="ml-5 mr-5"> -->
      <v-card-title class="mt-n3" color="primary">
        <!-- <v-icon>mdi-account-box-multiple</v-icon> -->
        <v-toolbar-title>ໜ້າຫຼັກ/ຈັດການຂໍ້ມູນ/ພະແນກ</v-toolbar-title>
      </v-card-title>
      <!-- <v-card flat class="ml-5 mr-5"> -->
      <v-card-text>
        <!-- Data Table Department Starts -->
        <v-data-table class="elevation-1" dense :headers="headers" :search="search" :items="departments"
          sort-by="calories">
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>ລາຍຊື່ພະແນກ ({{departments.length}})</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <!-- <v-spacer></v-spacer> -->
              <!-- Dailog Add Department Starts -->
              <v-dialog v-model="dialogAdd" persistent max-width="500px">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="primary" dark v-bind="attrs" v-on="on">
                    <v-icon class="mr-1">mdi-plus</v-icon>ເພີ່ມ
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-text-field class="mt-7" name="name" placeholder="ຄົ້ນຫາພະແນກ" v-model="search" outlined dense
                    append-icon="mdi-magnify">
                  </v-text-field>
                </template>
                <v-card>
                  <v-toolbar dense color="primary" dark>
                    <v-row justify="center">
                      <v-toolbar-title>{{formTitle}}</v-toolbar-title>
                    </v-row>
                  </v-toolbar>
                  <v-card-text>
                    <v-form v-model="valid">
                      <v-row justify="center" class="mt-3">
                        <v-col cols="12" class="mb-n5">
                          <v-text-field dense outlined v-model="department_name" label="ຊື່ພະແນກ" required
                            :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ພະແນກ.']" @change="onchangeHandle">
                          </v-text-field>
                        </v-col>
                      </v-row>
                    </v-form>
                  </v-card-text>
                  <v-divider></v-divider>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="btn-hover" color="blue" @click.prevent="saveAdd">
                      <v-icon class="mr-1">mdi-check</v-icon>
                      ບັນທຶກ
                    </v-btn>
                    <v-btn class="btn-hover" color="red " @click.prevent="cancelAdd">
                      <v-icon class="mr-1">mdi-close</v-icon>
                      ຍົກເລີກ
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Dailog Add Department Ends -->
              <!-- Dailog Edit/Update Department Starts -->
              <v-dialog v-model="dialogUpdate" persistent max-width="500px">
                <v-card flat>
                  <v-toolbar dense color="primary" dark>
                    <v-row justify="center">
                      <v-toolbar-title>{{formTitleUpdate}}</v-toolbar-title>
                    </v-row>
                  </v-toolbar>
                  <v-card-text>
                    <v-row justify="center" class="mt-3">
                      <v-col cols="12" class="mb-n5">
                        <v-text-field dense required :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ພະແນກ.']" outlined
                          v-model="editedItem.department_name" label="ຊື່ພະແນກ">
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </v-card-text>
                  <v-divider></v-divider>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="btn-hover" color="blue " @click.prevent="saveUpdate">
                      <v-icon class="mr-1">mdi-check</v-icon>
                      ບັນທຶກ
                    </v-btn>
                    <v-btn class="btn-hover" color="red " @click.prevent="cancelUpdate">
                      <v-icon class="mr-1">mdi-close</v-icon>
                      ຍົກເລີກ
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Dailog Edit/Update Department Ends -->
              <!-- Dailog Delete Department Starts -->
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-toolbar dense color="primary" dark>
                    <v-row justify="center">
                      <v-toolbar-title>{{formTitleDelete}}</v-toolbar-title>
                    </v-row>
                  </v-toolbar>
                  <v-card-title>
                    <v-toolbar-title>ທ່ານແນ່ໃຈບໍ່ວ່າຕ້ອງການລຶບລາຍການນີ້?</v-toolbar-title>
                  </v-card-title>
                  <v-divider></v-divider>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="btn-hover" color="blue" @click="deleteItemConfirm">
                      <v-icon class="mr-1">mdi-check</v-icon>
                      ຕົກລົງ
                    </v-btn>
                    <v-btn class="btn-hover" color="red" @click="closeDelete">
                      <v-icon class="mr-1">mdi-close</v-icon>
                      ຍົກເລີກ
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Dailog Delete Department Ends -->
            </v-toolbar>
            <v-divider></v-divider>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-row no-gutters justify="end">
              <v-btn color="#28a745" dark small @click="updateItem(item)" class="mr-2">
                <v-icon class="mr-2">
                  mdi-pen
                </v-icon>
                ແກ້ໄຂ
              </v-btn>
              <v-btn dark color="#dc3545" small @click="deleteAction(item)">
                <v-icon class="mr-2">
                  mdi-delete
                </v-icon>
                ລຶບ
              </v-btn>
            </v-row>
          </template>
          <template v-slot:no-data>
            <v-row no-gutters justify="center" class="py-5">
              <h2>ບໍ່ມີຂໍ້ມູນ</h2>
            </v-row>
          </template>
        </v-data-table>
        <!-- Data Table Department Ends -->
      </v-card-text>
      <!-- </v-card> -->
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  data: () => ({
    search: '',
    valid: false,
    dialogAdd: false,
    dialogUpdate: false,
    dialogDelete: false,
    department_name: "",
    headers: [
      { text: "ລຳດັບ", sortable: false, value: "idx" },
      { text: "ຊື່ພະແນກ", sortable: true, value: "department_name" },
      { text: "Actions", align: 'right', value: "actions", sortable: false },
    ],
    editedItem: {},
    deletedItem: {},
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "ເພີ່ມພະແນກໃ໋ໝ່" : "ເພີ່ມພະແນກໃ໋ໝ່";
    },
    formTitleUpdate() {
      return this.editedIndex === -1 ? "ແກ້ໄຂພະແນກ" : "ແກ້ໄຂພະແນກ";
    },
    formTitleDelete() {
      return this.editedIndex === -1 ? "Delete Infor" : "ລຶບຂໍ້ມູນ";
    },
    ...mapGetters({
      departments: 'departmentModules/departments',
      length: 'departmentModules/length'
    })
  },

  mounted() {
    this.getDepartments();

  },

  methods: {
    ...mapActions('departmentModules', ['getDepartments', 'postDepartment', 'putDepartment', 'delDepartment']),
    //Button cancelAdd and saveAdd Starts
    cancelAdd() {
      this.dialogAdd = false;
      // this.editedItem={}
    },
    onchangeHandle(e) {
      console.log(this.department_name = e);
    },
    saveAdd() {
      if (!this.department_name) {
        this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.', {
          position: 'bottom-left'
        });
        return
      }
      const item = {
        name: this.department_name
      }
      this.postDepartment(item)
        .then(() => {
          this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', {
            position: 'bottom-left'
          });
          this.getDepartments();
          this.dialogAdd = false;
          this.editedItem = {}
        })
        .catch(e => console.log(e))
    },
    //Button cancelAdd and saveAdd Ends
    //Button cancelUpdate and saveUpdate Starts
    updateItem(item) {
      this.editedItem = Object.assign({}, item)
      this.dialogUpdate = true;
    },
    cancelUpdate() {
      this.dialogUpdate = false;
    },
    saveUpdate() {
      if (!this.editedItem.department_name) {
        this.$toast.error('ຂໍ້ມູນວ່າງເປົ່າ.', { position: 'bottom-left' });
        return
      }
      const item = {
        id: this.editedItem.id,
        name: this.editedItem.department_name
      }
      this.putDepartment(item)
        .then(() => {
          this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', { position: 'bottom-left' });
          this.getDepartments();
          this.dialogUpdate = false;
          this.editedItem = {}
        })
        .catch(e => console.log(e))
    },
    //Button cancelUpdate and saveUpdate Ends
    //Button cancelDelete and saveDelete Starts
    deleteAction(item) {
      this.deletedItem = Object.assign({}, item)
      this.dialogDelete = true;
      // console.log(this.deletedItem);
    },
    closeDelete() {
      this.dialogDelete = false;
    },
    deleteItemConfirm() {
      this.delDepartment(this.deletedItem)
        .then(() => {
          this.$toast.success('ລຶບສຳເລັດແລ້ວ.', {
            position: 'bottom-left'
          });
          this.getDepartments();
          this.dialogDelete = false
        })
        .catch(e => console.log(e))
    },
    //Button cancelDelete and saveDelete Ends
  }
};
</script>
  
<style scoped>
.btn-hover:hover {
  background-color: #e3f2fd;
  color: white;
  font-weight: bold;
}
</style>
  