<template>
  <v-row no-gutters>
    <v-col cols="12" md="12">
      <v-card-title class="mt-n3" color="primary">
        <v-toolbar-title>ໜ້າຫຼັກ/ສັ່ງຊື້-ນຳເຂົ້າ/ນໍາເຂົ້າ</v-toolbar-title>
      </v-card-title>
      <v-card-text>
        <!-- Data Table Department Starts -->
        <v-data-table class="elevation-1" dense :headers="headers" :search="search" :items="imports">
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>ລາຍຊື່ການນຳເຂົ້າ ({{imports.length}})</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-text-field class="mt-7" name="name" placeholder="Search" id="id" outlined dense
                append-icon="mdi-magnify"></v-text-field>
              <v-spacer></v-spacer>
              <v-btn color="primary" dark to="/importAdd">
                <v-icon class="mr-1">mdi-plus</v-icon>ເພີ່ມການນຳເຂົ້າ
              </v-btn>
              <!-- Dailog Delete Department Starts -->
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-toolbar dense color="primary" dark>
                    <v-row justify="center">
                      <v-toolbar-title>{{formTitleDelete}}</v-toolbar-title>
                    </v-row>
                  </v-toolbar>
                  <v-card-title>
                    <v-toolbar-title>ທ່ານແນ່ໃຈບໍ່ວ່າຕ້ອງການລຶບລາຍການນີ້?</v-toolbar-title>
                  </v-card-title>
                  <v-divider></v-divider>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="btn-hover" color="blue" @click="deleteItemConfirm">
                      <v-icon class="mr-1">mdi-check</v-icon>
                      ຕົກລົງ
                    </v-btn>
                    <v-btn class="btn-hover" color="red" @click="closeDelete">
                      <v-icon class="mr-1">mdi-close</v-icon>
                      ຍົກເລີກ
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Dailog Delete Department Ends -->
            </v-toolbar>
            <v-divider></v-divider>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-row no-gutters justify="end">
              <!-- <v-btn color="#28a745" dark small @click="updateItem(item)">
                <v-icon class="mr-1">
                  mdi-pen
                </v-icon>
                ແກ້ໄຂ
              </v-btn> -->
              <v-btn dark color="#dc3545" small @click="deleteAction(item)" class="ml-2">
                <v-icon class="mr-1">
                  mdi-delete
                </v-icon>
                ລຶບ
              </v-btn>
            </v-row>
          </template>
          <template v-slot:no-data>
            <v-row no-gutters justify="center" class="py-5">
              <h3>ບໍ່ມີຂໍ້ມູນ</h3>
            </v-row>
          </template>
        </v-data-table>
        <!-- Data Table Department Ends -->
      </v-card-text>
      <!-- </v-card> -->
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  data: () => ({
    search: '',
    supplier: {},
    valid: true,
    dialogDelete: false,
    headers: [
      { text: "ລຳດັບ", align: "start", sortable: false, value: "idx" },
      { text: "ຊື່ວັດສະດຸ", value: "material_name" },
      { text: "ຊື່ພະນັກງານ", value: "employee" },
      { text: "ຈຳນວນ", value: "amount" },
      { text: "ວັນທີສ້າງ", value: "order_date" },
      { text: "Actions", align: "right", value: "actions", sortable: false },
    ],
    deletedItem: {},
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "ເພີ່ມການນຳເຂົ້າໃໝ່" : "ເພີ່ມການນຳເຂົ້າໃໝ່";
    },
    formTitleUpdate() {
      return this.editedIndex === -1 ? "ແກ້ໄຂການນຳເຂົ້າ" : "ແກ້ໄຂການນຳເຂົ້າ";
    },
    formTitleDelete() {
      return this.editedIndex === -1 ? "Delete Infor" : "ລຶບຂໍ້ມູນ";
    },
    ...mapGetters({
      imports: "importOrderMod/imports",
      length: 'importOrderMod/length'
    }),
  },

  mounted() {
    this.getImports();
  },

  methods: {
    ...mapActions("importOrderMod", [
      "getImports",
      "postImport",
      "putImport",
      "delImport",
    ]),
    //Button cancelAdd and saveAdd Starts
    cancelAdd() {
      this.dialogAdd = false;
    },
    saveAdd() {
      // this.$refs.form.saveAdd()
      if (!this.supplier.name || !this.supplier.address || !this.supplier.tel) {
        this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.', {
          position: 'bottom-left'
        });
        return
      }
      this.postSupplier(this.supplier)
        .then(() => {
          this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', { position: 'bottom-left' });
          this.getSuppliers();
          this.dialogAdd = false;
          this.supplier = {};
        })
        .catch(e => console.log(e))
    },
    //Button cancelAdd and saveAdd Ends
    //Button cancelUpdate and saveUpdate Starts
    updateItem(item) {
      this.editedItem = Object.assign({}, item)
      this.dialogUpdate = true;
    },
    cancelUpdate() {
      this.dialogUpdate = false;
    },
    saveUpdate() {
      if (!this.editedItem.name || !this.editedItem.address || !this.editedItem.tel) {
        this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.', {
          position: 'bottom-left'
        });
        return
      }

      const item = {
        id: this.editedItem.id,
        name: this.editedItem.name,
        address: this.editedItem.address,
        tel: this.editedItem.tel
      }
      this.putSupplier(item)
        .then((res) => {
          console.log(res);
          this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', {
            position: 'bottom-left'
          });
          this.getSuppliers();
          this.dialogUpdate = false;
          this.editedItem = {}
        })
        .catch(e => console.log(e))
    },
    //Button cancelUpdate and saveUpdate Ends
    //Button cancelDelete and saveDelete Starts
    closeDelete() {
      this.dialogDelete = false;
    },
    deleteAction(item) {
      alert(item)
      this.deletedItem = Object.assign({}, item)
      this.dialogDelete = true;
    },
    deleteItemConfirm() {
      this.delImport(this.deletedItem)
        .then(() => {
          this.$toast.success('ລຶບສຳເລັດແລ້ວ.', { position: 'bottom-left' });
          this.getImports();
          this.dialogDelete = false
        })
        .catch(e => {
          console.log(e);
          this.$toast.error('ຂໍ້ມູນຍັງຖືກງານ.', { position: 'bottom-left' });
        })
    },
    //Button cancelDelete and saveDelete Ends
  }
};
</script>
  
<style scoped>
.btn-hover:hover {
  background-color: #e3f2fd;
  color: white;
  font-weight: bold;
}
</style>