<template>
    <v-row no-gutters>
        <v-col cols="12" md="12">
            <v-card-title class="mt-n3">
                <v-toolbar-title>ໜ້າຫຼັກ/ສັ່ງຊື້-ນຳເຂົ້າ/ນໍາເຂົ້າ/ເພີ່ມການນຳເຂົ້າໃໝ່</v-toolbar-title>
            </v-card-title>
            <v-card-text>
                <!-- Data Table Department Starts -->
                <v-data-table class="elevation-1" dense :headers="headers" :search="search" :items="imports">
                    <template v-slot:top>
                        <v-card-title>
                            <v-toolbar-title>ວັນທີສັ່ງຊື້: 10/10/2022</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" dark to="/import">
                                <v-icon class="mr-1">mdi-arrow-left</v-icon>ກັບຄືນ
                            </v-btn>
                        </v-card-title>
                        <v-card-title class="mt-n3">
                            <v-toolbar-title>ຜູ້ສັ່ງຊື້: ທ້າວ ບີຢ່າງ</v-toolbar-title>
                        </v-card-title>
                        <v-card-title class="mt-n3">
                            <v-toolbar-title>ຜູ້ສະໜອງ: ທ້າວ ທອງດີ</v-toolbar-title>
                        </v-card-title>
                        <v-toolbar flat>
                            <!-- <v-combobox class="mt-5" name="name" placeholder="ກະລຸນາເລືອກເລກທີບີນ" id="id" outlined
                                dense>
                            </v-combobox> -->
                            <v-autocomplete dense class="mt-5" v-model="none" :item-text="'orderId'" :item-value="'id'"
                                @change="onchangeSelect" :items="orderItem" placeholder="ກະລຸນາເລືອກເລກທີໃບບີນ"
                                outlined>
                            </v-autocomplete>
                            <!-- <v-divider class="mx-4" inset vertical></v-divider> -->
                            <!-- <v-toolbar-title>ຈຳນວນການນຳເຂົ້າ ({{imports.length}})</v-toolbar-title> -->
                            <v-spacer></v-spacer>
                            <v-btn color="success" dark @click="saveAction(item)">
                                <v-icon class="mr-1">mdi-check</v-icon>ບັນທືກການນຳເຂົ້າ
                            </v-btn>
                            <!-- Dailog SaveConfirm Order-Add Starts -->
                            <v-dialog v-model="dialogSaveConfirm" max-width="500px">
                                <v-card>
                                    <v-toolbar dense color="success" dark>
                                        <v-row justify="center">
                                            <v-toolbar-title>ເພີ່ມການນຳເຂົ້າໃໝ່</v-toolbar-title>
                                        </v-row>
                                    </v-toolbar>
                                    <v-card-title>
                                        <v-toolbar-title>ທ່ານແນ່ໃຈບໍ່ວ່າຕ້ອງການຢືນຢັນການນຳເຂົ້ານີ້?</v-toolbar-title>
                                    </v-card-title>
                                    <v-divider></v-divider>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn class="btn-hover" color="green" @click="saveConfirm">
                                            <v-icon class="mr-1">mdi-check</v-icon>
                                            ຢືນຢັນ
                                        </v-btn>
                                        <v-btn class="btn-hover" color="red" @click="close">
                                            <v-icon class="mr-1">mdi-close</v-icon>
                                            ຍົກເລີກ
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <!-- Dailog SaveConfirm Order-Add Ends -->
                            <!-- Dailog Delete Department Starts -->
                            <v-dialog v-model="dialogDelete" max-width="500px">
                                <v-card>
                                    <v-toolbar dense color="primary" dark>
                                        <v-row justify="center">
                                            <v-toolbar-title>ລຶບຂໍ້ມູນ</v-toolbar-title>
                                        </v-row>
                                    </v-toolbar>
                                    <v-card-title>
                                        <v-toolbar-title>ທ່ານແນ່ໃຈບໍ່ວ່າຕ້ອງການລຶບລາຍການນີ້?</v-toolbar-title>
                                    </v-card-title>
                                    <v-divider></v-divider>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn class="btn-hover" color="blue" @click="deleteItemConfirm">
                                            <v-icon class="mr-1">mdi-check</v-icon>
                                            ຕົກລົງ
                                        </v-btn>
                                        <v-btn class="btn-hover" color="red" @click="closeDelete">
                                            <v-icon class="mr-1">mdi-close</v-icon>
                                            ຍົກເລີກ
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <!-- Dailog Delete Department Ends -->
                        </v-toolbar>
                        <v-divider></v-divider>
                    </template>
                    <template v-slot:[`item.actions`]="{ item }">
                        <v-row no-gutters justify="end">
                            <v-btn color="#28a745" dark small @click="updateItem(item)">
                                <v-icon class="mr-1">
                                    mdi-pen
                                </v-icon>
                                ແກ້ໄຂ
                            </v-btn>
                            <v-btn dark color="#dc3545" small @click="deleteAction(item)" class="ml-2">
                                <v-icon class="mr-1">
                                    mdi-delete
                                </v-icon>
                                ລຶບ
                            </v-btn>
                        </v-row>
                    </template>
                    <template v-slot:no-data>
                        <v-row no-gutters justify="center" class="py-5">
                            <h3>ບໍ່ມີຂໍ້ມູນ</h3>
                        </v-row>
                    </template>
                </v-data-table>
                <!-- Data Table Department Ends -->
            </v-card-text>
            <!-- </v-card> -->
        </v-col>
    </v-row>
</template>
  
<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    data: () => ({
        none: '',
        search: '',
        supplier: {},
        valid: true,
        dialogDelete: false,
        dialogSaveConfirm: false,
        headers: [
            { text: "ລຳດັບ", align: "start", sortable: false, value: "idx" },
            { text: "ຊື່ວັດສະດຸ", value: "material_name" },
            { text: "ຈຳນວນ", value: "amount" },
            { text: "Actions", align: "right", value: "actions", sortable: false },
        ],
        deletedItem: {},
    }),

    computed: {
        ...mapGetters({
            imports: "importOrderMod/imports",
            length: 'importOrderMod/length'
        }),
        ...mapGetters({
            orders: "orderModules/orders",
            length: 'orderModules/length'
        }),
    },

    mounted() {
        this.getImports();
        this.getOrders();
    },

    methods: {
        ...mapActions("orderModules", [
            "getOrders",
            "getOrder"
        ]),
        ...mapActions("importOrderMod", [
            "getImports",
            "postImport",
            "putImport",
            "delImport",
        ]),

        close() {
            this.dialogSaveConfirm = false;
        },
        saveAction(item) {
            this.deletedItem = Object.assign({}, item)
            this.dialogSaveConfirm = true;
        },
        saveConfirm() {
            this.postImport(this.deletedItem)
                .then(() => {
                    this.$toast.success('ຢືນຢັນສຳເລັດແລ້ວ.', { position: 'bottom-left' });
                    this.getImports();
                    this.dialogSaveConfirm = false
                    this.$router.push('/import')
                })
                .catch(e => {
                    console.log(e);
                })
        },
        //Button cancelDelete and saveDelete Starts
        closeDelete() {
            this.dialogDelete = false;
        },
        deleteAction(item) {
            // alert(item)
            this.deletedItem = Object.assign({}, item)
            this.dialogDelete = true;
        },
        deleteItemConfirm() {
            this.delImport(this.deletedItem)
                .then(() => {
                    this.$toast.success('ລຶບສຳເລັດແລ້ວ.', { position: 'bottom-left' });
                    this.getImports();
                    this.dialogDelete = false
                })
                .catch(e => {
                    console.log(e);
                    this.$toast.error('ຂໍ້ມູນຍັງຖືກງານ.', { position: 'bottom-left' });
                })
        },
        //Button cancelDelete and saveDelete Ends
    }
};
</script>
    
<style scoped>
.btn-hover:hover {
    background-color: #e3f2fd;
    color: white;
    font-weight: bold;
}
</style>