<template>
  <v-layout>
    <v-row no-gutters>
      <v-col cols="12" md="12">
        <v-card-title class="mt-n3" color="primary">
          <v-toolbar-title>ໜ້າຫຼັກ/ຈັດການຂໍ້ມູນ/ຜູ້ໃຊ້/ເພີ່ມຜູ້ໃຊ້</v-toolbar-title>
        </v-card-title>
        <v-card-text>
          <!-- Data Table User Starts -->
          <v-data-table dense :headers="headers" :items="users" class="elevation-1">
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>ລາຍຊື່ພະນັກງານ ({{users.length}})</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-text-field class="mt-7" name="name" placeholder="Search" id="id" outlined dense
                  append-icon="mdi-magnify"></v-text-field>
                <v-spacer></v-spacer>
                <v-btn color="primary" dark to="/user-index">
                  <v-icon class="mr-2">mdi-arrow-left</v-icon>ກັບຄືນ
                </v-btn>
              </v-toolbar>
              <v-divider></v-divider>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-btn color="#007bff" dark small @click="AddItem(item)">
                <v-icon class="mr-2">
                  mdi-plus
                </v-icon>
                ເພີ່ມ
              </v-btn>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary"> Reset </v-btn>
            </template>
          </v-data-table>
          <!-- Data Table User Ends -->
        </v-card-text>
      </v-col>
    </v-row>
    <v-dialog v-model="dialogAdd" persistent max-width="500px">
      <v-card flat>
        <v-toolbar dense color="primary" dark>
          <v-row justify="center">
            <v-toolbar-title>ເພີ່ມຜູ້ໃຊ້ໃໝ່</v-toolbar-title>
          </v-row>
        </v-toolbar>
        <v-card-text>
          <v-row justify="center" class="mt-3">
            <v-col cols="12" class="mb-n5">
              <v-text-field dense required :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ຜູ້ໃຊ້']" outlined
                v-model="editedItem.username" label="ຊື່ຜູ້ໃຊ້">
              </v-text-field>
              <v-text-field dense required :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນລະຫັດຜ່ານ']" outlined
                v-model="editedItem.password" label="ລະຫັດຜ່ານ">
              </v-text-field>
              <v-autocomplete required :rules="[(val)=> !!val || 'ກະລຸນາເລືອກສິດທິໃນການເຂົ້າເຖິງຂໍ້ມູນ']"
                v-model="editedItem.permission" :items="items" outlined dense label="ສິດທິໃນການເຂົ້າເຖິງ" multiple>
              </v-autocomplete>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class=" btn-hover" color="blue " @click.prevent="saveAdd">
            <v-icon class="mr-1">mdi-check</v-icon>
            ບັນທຶກ
          </v-btn>
          <v-btn class="btn-hover" color="red " @click.prevent="cancelAdd">
            <v-icon class="mr-1">mdi-close</v-icon>
            ຍົກເລີກ
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  data: () => ({
    dialogAdd: false,
    dialogDelete: false,
    editedItem: {},
    headers: [
      { text: "ລຳດັບ", align: "start", sortable: false, value: "idx" },
      { text: "ຊື່", value: "firstname" },
      { text: "ນາມສະກຸນ", value: "lastname" },
      { text: "ສິດທິສັງກັດ", value: "permission" },
      { text: "Actions", align: 'right', value: "actions", sortable: false },
    ],
    items: ['ຈັດການສັ່ງຊື້',
      'ຈັດການນຳເຂົ້າ',
      'ຈັດການວັດສະດຸ',
      'ຈັດການປະເພດວັດສະດຸ',
      'ຈັດການເອກະສານເຂົ້າ',
      'ຈັດການເອກະສານອອກ',
      'ຈັດການພະແນກ',
      'ຈັດການພະນັກງານ'],
    values: '',
  }),

  computed: {
    ...mapGetters({
      users: 'employeeModules/employees'
    }),
  },

  mounted() {
    this.getEmployees();
  },

  methods: {
    ...mapActions('employeeModules', ['getEmployees']),
    cancelAdd() {
      this.dialogAdd = false;
    },
    AddItem() {
      this.dialogAdd = true;
    },
    saveAdd() {

    },
  },
};
</script>

<style>
.btn-hover:hover {
  background-color: #e3f2fd;
  color: white;
  font-weight: bold;
}
</style>
