<template>
  <v-layout>
    <v-row class="clickable">
      <v-col cols="12" md="12">
        <v-card class="ml-5 mr-5">
          <v-app-bar dark color="#B71C1C">
            <v-btn icon>
              <v-icon>mdi-account-edit</v-icon>
            </v-btn>
            <v-toolbar-title class="ml-0 pl-2">ແກ້ໄຂຜູ້ສະໜອງ</v-toolbar-title>
          </v-app-bar>
          <v-card>
            <v-card-title class="">
              <v-spacer></v-spacer>
              <span class="text-h6">ຂໍ້ມູນຜູ້ສະໜອງ</span>
              <!-- <v-toolbar-title>My Employees</v-toolbar-title> -->
              <v-spacer></v-spacer>
              <v-btn color="primary" dark to="/user-index">
                <v-icon class="mr-2">mdi-arrow-left</v-icon>ກັບຄືນ
              </v-btn>
            </v-card-title>

            <v-divider></v-divider>

            <v-form v-model="valid">
              <v-container>
                <v-row>
                  <v-col cols="12" md="6">
                    <v-text-field v-model="firstname" :rules="nameRules" :counter="10" label="First name" outlined dense
                      required>
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-text-field v-model="lastname" :rules="nameRules" :counter="10" label="Last name" outlined dense
                      required></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-text-field v-model="lastname" :rules="nameRules" :counter="10" label="Date of Birth" outlined
                      dense required></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-text-field v-model="lastname" :rules="nameRules" :counter="10" label="Phone Number" outlined
                      dense required></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-text-field v-model="email" :rules="emailRules" label="E-mail" outlined dense required>
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-text-field v-model="lastname" :rules="nameRules" :counter="10" label="Address" outlined dense
                      required></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>

            <v-divider></v-divider>

            <v-card-title>
              <v-spacer></v-spacer>
              <span class="text-h6">Permission</span>
              <!-- <v-toolbar-title>My Employees</v-toolbar-title>  -->
              <v-spacer></v-spacer>
            </v-card-title>

            <v-divider></v-divider>

            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">
                      <h2>Menu Name</h2>
                    </th>
                    <th class="text-left">
                      <h2>Role</h2>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in permission" :key="item.name">
                    <td>
                      <h3>{{ item.name }}</h3>
                    </td>
                    <td>
                      <v-checkbox color="primary" value="primary"></v-checkbox>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn class="btn-hover" color="blue darken-1" text @click="close" to="/user-index">
                Cancel
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn class="btn-hover" color="blue darken-1" text @click="save">
                Save
              </v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-layout>
</template>
    
  
<script>
export default {
  data: () => ({
    valid: false,
    firstname: '',
    lastname: '',
    // checkbox: true,
    permission: [
      {
        name: 'Dashboard',
      },
      {
        name: 'Manage Documents',
      },
      {
        name: 'Manage materials',
      },
      {
        name: 'Employees',
      },
      {
        name: 'Departments',

      },
      {
        name: 'Users',
      },
      {
        name: 'Order',
      },
      {
        name: 'Import',
      },
      {
        name: 'Locate',
      },
      {
        name: 'Print',
      },
      {
        name: 'Revenue',
      },
      {
        name: 'Analytics',
      },
      {
        name: 'Search',
      },
    ],
    nameRules: [
      v => !!v || 'Name is required',
      v => v.length <= 10 || 'Name must be less than 10 characters',
    ],
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+/.test(v) || 'E-mail must be valid',
    ],


    dialog: false,
    dialogDelete: false,
    users: [],
    headers: [
      { text: "ລະຫັດ", align: "start", sortable: false, value: "id" },
      { text: "ຊື່ ແລະ ນາມສະກຸນ", value: "full_name" },
      { text: "ວັນເດືອນປີເກີດ", value: "date_birth" },
      { text: "ເບີໂທ", value: "tel" },
      { text: "ອີເມວ", value: "email" },
      { text: "ທີ່ຢູ່", value: "address" }, //(ບ້ານ, ເມືອງ, ແຂວງ)
      { text: "ເງີນເດືອນ", value: "salary" },
      { text: "ຮູບພ/ງ", value: "image" },
      { text: "ພະແນກ", value: "department_id" },
      { text: "ວັນທີ", value: "datetime" },
      { text: "Actions", value: "actions", sortable: false },
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      id: "",
      full_name: "",
      date_birth: 0,
      tel: 0,
      email: 0,
      address: 0,
      salary: 0,
      image: 0,
      department_id: 0,
      datetime: 0,
    },
    defaultItem: {
      id: "",
      full_name: "",
      date_birth: 0,
      tel: 0,
      email: 0,
      address: 0,
      salary: 0,
      image: 0,
      department_id: 0,
      datetime: 0,
    },
  }),

  computed: {
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();


  },

  methods: {
    initialize() {
      this.desserts = [
        {
          id: "E001",
          full_name: "Bounmeexay Yang",
          date_birth: "10/10/1999",
          tel: "020 95681295",
          email: "Boun@gmail.com",
          address: "ຕານມີໄຊ, ໄຊທນີ, ນະຄອນຫຼວງ",
          salary: "2,500,000 ກີບ",
          image: "NULL",
          department_id: "D001",
          datetime: "01/02/2022",
        },
        {
          id: "E001",
          full_name: "Bounmeexay Yang",
          date_birth: "10/10/1999",
          tel: "020 95681295",
          email: "Boun@gmail.com",
          address: "ຕານມີໄຊ, ໄຊທນີ, ນະຄອນຫຼວງ",
          salary: "2,500,000 ກີບ",
          image: "NULL",
          department_id: "D001",
          datetime: "01/02/2022",
        },
        {
          id: "E001",
          full_name: "Bounmeexay Yang",
          date_birth: "10/10/1999",
          tel: "020 95681295",
          email: "Boun@gmail.com",
          address: "ຕານມີໄຊ, ໄຊທນີ, ນະຄອນຫຼວງ",
          salary: "2,500,000 ກີບ",
          image: "NULL",
          department_id: "D001",
          datetime: "01/02/2022",
        },
        {
          id: "E001",
          full_name: "Bounmeexay Yang",
          date_birth: "10/10/1999",
          tel: "020 95681295",
          email: "Boun@gmail.com",
          address: "ຕານມີໄຊ, ໄຊທນີ, ນະຄອນຫຼວງ",
          salary: "2,500,000 ກີບ",
          image: "NULL",
          department_id: "D001",
          datetime: "01/02/2022",
        },
        {
          id: "E001",
          full_name: "Bounmeexay Yang",
          date_birth: "10/10/1999",
          tel: "020 95681295",
          email: "Boun@gmail.com",
          address: "ຕານມີໄຊ, ໄຊທນີ, ນະຄອນຫຼວງ",
          salary: "2,500,000 ກີບ",
          image: "NULL",
          department_id: "D001",
          datetime: "01/02/2022",
        },
        {
          id: "E001",
          full_name: "Bounmeexay Yang",
          date_birth: "10/10/1999",
          tel: "020 95681295",
          email: "Boun@gmail.com",
          address: "ຕານມີໄຊ, ໄຊທນີ, ນະຄອນຫຼວງ",
          salary: "2,500,000 ກີບ",
          image: "NULL",
          department_id: "D001",
          datetime: "01/02/2022",
        },
        {
          id: "E001",
          full_name: "Bounmeexay Yang",
          date_birth: "10/10/1999",
          tel: "020 95681295",
          email: "Boun@gmail.com",
          address: "ຕານມີໄຊ, ໄຊທນີ, ນະຄອນຫຼວງ",
          salary: "2,500,000 ກີບ",
          image: "NULL",
          department_id: "D001",
          datetime: "01/02/2022",
        },
        {
          id: "E001",
          full_name: "Bounmeexay Yang",
          date_birth: "10/10/1999",
          tel: "020 95681295",
          email: "Boun@gmail.com",
          address: "ຕານມີໄຊ, ໄຊທນີ, ນະຄອນຫຼວງ",
          salary: "2,500,000 ກີບ",
          image: "NULL",
          department_id: "D001",
          datetime: "01/02/2022",
        },
        {
          id: "E001",
          full_name: "Bounmeexay Yang",
          date_birth: "10/10/1999",
          tel: "020 95681295",
          email: "Boun@gmail.com",
          address: "ຕານມີໄຊ, ໄຊທນີ, ນະຄອນຫຼວງ",
          salary: "2,500,000 ກີບ",
          image: "NULL",
          department_id: "D001",
          datetime: "01/02/2022",
        },
        {
          id: "E001",
          full_name: "Bounmeexay Yang",
          date_birth: "10/10/1999",
          tel: "020 95681295",
          email: "Boun@gmail.com",
          address: "ຕານມີໄຊ, ໄຊທນີ, ນະຄອນຫຼວງ",
          salary: "2,500,000 ກີບ",
          image: "NULL",
          department_id: "D001",
          datetime: "01/02/2022",
        },
        {
          id: "E001",
          full_name: "Bounmeexay Yang",
          date_birth: "10/10/1999",
          tel: "020 95681295",
          email: "Boun@gmail.com",
          address: "ຕານມີໄຊ, ໄຊທນີ, ນະຄອນຫຼວງ",
          salary: "2,500,000 ກີບ",
          image: "NULL",
          department_id: "D001",
          datetime: "01/02/2022",
        },
      ];
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    },
  },
};
</script>
  
  
<style>

</style>