<template>
  <v-layout>
    <v-row no-gutters>
      <v-col cols="12" md="12">
        <v-card-title class="mt-n3" color="primary">
          <v-toolbar-title>ໜ້າຫຼັກ/ຈັດການຂໍ້ມູນ/ຜູ້ໃຊ້</v-toolbar-title>
        </v-card-title>
        <v-card-text>
          <!-- Data Table User Starts -->
          <v-data-table dense :headers="headers" :items="users" class="elevation-1">
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>ລາຍຊື່ຜູ້ໃຊ້ ({{users.length}})</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-text-field class="mt-7" name="name" placeholder="Search" id="id" outlined dense
                  append-icon="mdi-magnify"></v-text-field>
                <v-spacer></v-spacer>
                <v-btn color="primary" dark to="/users/add">
                  <v-icon class="mr-2">mdi-plus</v-icon>ເພີ່ມ
                </v-btn>
                <!-- Dailog Edit/Update Material Starts -->
                <v-dialog v-model="dialogChangePassword" persistent max-width="500px">
                  <v-card flat>
                    <v-toolbar dense color="primary" dark>
                      <v-row justify="center">
                        <v-toolbar-title>ປ່ຽນລະຫັດຜ່ານ</v-toolbar-title>
                      </v-row>
                    </v-toolbar>
                    <v-card-text>
                      <v-row justify="center" class="mt-3">
                        <v-col cols="12" md="12">
                          <v-text-field dense required :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ຜູ້ໃຊ້']"
                            v-model="editedItem.username" label="Username" outlined>
                          </v-text-field>
                          <v-text-field dense required :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນລະຫັດປັດຈຸບັນ']"
                            v-model="editedItem.oldPassword" label="Old Password" outlined>
                          </v-text-field>
                          <v-text-field dense required :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນລະຫັດຜ່ານໃໝ່']"
                            v-model="editedItem.newPassword" label="New Password" outlined>
                          </v-text-field>
                          <v-text-field dense required :rules="[(val)=> !!val || 'ກະລຸນາຢືນຢັນລະຫັດຜ່ານໃໝ່']"
                            v-model="editedItem.confirmNewpassword" label="Confirm New Password" outlined>
                          </v-text-field>

                        </v-col>
                      </v-row>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn class="btn-hover" color="blue" @click.prevent="save">
                        <v-icon class="mr-1">mdi-check</v-icon>
                        ບັນທຶກ
                      </v-btn>
                      <v-btn class="btn-hover" color="red" @click.prevent="cancel">
                        <v-icon class="mr-1">mdi-close</v-icon>
                        ຍົກເລີກ
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <!-- Dailog Edit/Update Material Ends -->
                <!-- Dailog Delete Document Starts -->
                <v-dialog v-model="dialogDelete" max-width="500px">
                  <v-card>
                    <v-toolbar dense color="primary" dark>
                      <v-row justify="center">
                        <v-toolbar-title>{{ formTitleDelete }}</v-toolbar-title>
                      </v-row>
                    </v-toolbar>
                    <v-divider></v-divider>
                    <v-card-title class="justify-center">
                      <v-toolbar-title>ທ່ານແນ່ໃຈບໍ່ວ່າຕ້ອງການລຶບລາຍການນີ້?</v-toolbar-title>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn class="btn-hover" color="blue" @click="deleteItemConfirm">
                        <v-icon class="mr-1">mdi-check</v-icon>
                        ຕົກລົງ
                      </v-btn>
                      <v-btn class="btn-hover" color="red" @click="closeDelete">
                        <v-icon class="mr-1">mdi-close</v-icon>
                        ຍົກເລີກ
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <!-- Dailog Delete Document Ends -->
              </v-toolbar>
              <v-divider></v-divider>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-row no-gutters justify="end">
                <v-btn color="#007bff" dark small @click="changePassword(item)" class="ml-2">
                  <v-icon class="mr-1"> mdi-key </v-icon>ປ່ຽນລະຫັດ
                </v-btn>
                <v-btn color="#28a745" dark small class="ml-2" to="/users/edit">
                  <v-icon class="mr-1">
                    mdi-pen
                  </v-icon>
                  ແກ້ໄຂ
                </v-btn>
                <v-btn color="#dc3545" dark small @click="deleteAction()" class="ml-2">
                  <v-icon class="mr-1">
                    mdi-delete
                  </v-icon>
                  ລຶບ
                </v-btn>
              </v-row>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary"> Reset </v-btn>
            </template>
          </v-data-table>
          <!-- Data Table User Ends -->
        </v-card-text>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
import { mapActions, mapGetters } from "vuex"
export default {
  data: () => ({
    dialogChangePassword: false,
    dialogDelete: false,
    user: [],
    headers: [
      { text: "ລຳດັບ", align: "start", sortable: false, value: "idx", },
      { text: "ຊື່ຜູ້ໃຊ້", align: "start", sortable: false, value: "employee_fname" },
      { text: "ນາມສະກຸນ", value: "employee_lname" },
      { text: "ເບີໂທ", value: "employee_tel" },
      { text: "ພະແນກ", value: "department_name" },
      { text: "ສິດທິ", value: "permission" },
      { text: "Actions", align: "right", value: "actions", sortable: false },
    ],
    editedItem: {},
  }),

  computed: {
    ...mapGetters({
      users: "userModules/users",
      length: "userModules/length",
    }),
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Change Password";
    },
    formTitleDelete() {
      return this.editedIndex === -1 ? "Delete Infor" : "Delete Infor";
    },
  },
  mounted() {
    this.getUsers();
  },
  methods: {
    ...mapActions("userModules", ["getUsers", "Login", "Register", "delUser"]),
    changePassword(item) {
      // alert(item.category_name)
      this.editedItem = Object.assign({}, item)
      this.dialogChangePassword = true;
    },
    cancel() {
      this.dialogChangePassword = false;
    },
    save() {
      if (!this.editedItem.name) {
        this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.', {
          position: 'bottom-left'
        });
        return
      }
      this.postCategory(this.editedItem)
        .then(() => {
          // alert('add Success');
          this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', {
            position: 'bottom-left'
          });
          this.getCategories();
          this.dialogChangePassword = false;
          this.editedItem = {}

        })
        .catch(e => console.log(e))

    },

    closeDelete() {
      this.dialogDelete = false;
    },
    deleteAction(item) {
      this.deletedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    deleteItemConfirm() {
      this.delUser(this.deletedItem)
        .then(() => {
          this.$toast.success('ລຶບສຳເລັດແລ້ວ.', {
            position: 'bottom-left'
          });
          this.getUsers();
          this.dialogDelete = false
        })
        .catch(e => console.log(e))
    },
  },

};
</script>
<style scoped>
.btn-hover:hover {
  background-color: #e3f2fd;
  color: white;
  font-weight: bold;
}
</style>
