<template>
  <v-card flat>
    <!-- Data Table Category Starts -->
    <v-data-table dense :headers="headers" :search="search" :items="categories" sort-by="calories" class="elevation-1">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>ລາຍຊື່ປະເພດວັດສະດຸ ({{categories.length}})</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field class="mt-7" name="name" placeholder="Search" v-model="search" outlined dense
            append-icon="mdi-magnify">
          </v-text-field>
          <v-spacer></v-spacer>
          <!-- Dailog Add Category Starts -->
          <v-dialog v-model="dialog" persistent max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark v-bind="attrs" v-on="on">
                <v-icon class="mr-2">mdi-plus</v-icon>ເພີ່ມ
              </v-btn>
            </template>
            <v-card flat>
              <v-toolbar dense color="primary" dark>
                <v-row justify="center">
                  <v-toolbar-title>{{formTitle}}</v-toolbar-title>
                </v-row>
              </v-toolbar>
              <v-card-text>
                <v-form v-model="valid">
                  <v-row justify="center" class="mt-3">
                    <v-col cols="12" class="mb-n5">
                      <v-text-field dense outlined v-model="editedItem.name" label="ຊື່ປະເພດວັດສະດຸ" :counter="100"
                        required :rules="[(val)=> !!val || 'Category name is required']">
                      </v-text-field>
                    </v-col>
                  </v-row>
                </v-form>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="btn-hover" color="blue" @click.prevent="save">
                  <v-icon class="mr-1">mdi-check</v-icon>
                  ບັນທຶກ
                </v-btn>
                <v-btn class="btn-hover" color="red " @click.prevent="cancel">
                  <v-icon class="mr-1">mdi-close</v-icon>
                  ຍົກເລີກ
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Dailog Add Category Ends -->
          <!-- Dailog Edit/Update Category Starts -->
          <v-dialog v-model="dialogUpdate" persistent max-width="500px">
            <v-card flat>
              <v-toolbar dense color="primary" dark>
                <v-row justify="center">
                  <v-toolbar-title>{{formTitleUpdate}}</v-toolbar-title>
                </v-row>
              </v-toolbar>
              <v-card-text>
                <v-row justify="center" class="mt-3">
                  <v-col cols="12" class="mb-n5">
                    <v-text-field dense required :rules="[(val)=> !!val || 'Category name is required']" outlined
                      v-model="editedItem.category_name" :counter="100" label="ຊື່ປະເພດວັດສະດຸ">
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="btn-hover" color="blue " @click.prevent="saveUpdate">
                  <v-icon class="mr-1">mdi-check</v-icon>
                  ບັນທຶກ
                </v-btn>
                <v-btn class="btn-hover" color="red " @click.prevent="cancelUpdate">
                  <v-icon class="mr-1">mdi-close</v-icon>
                  ຍົກເລີກ
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Dailog Edit/Update Category Ends -->
          <!-- Dailog Delete Category Starts -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-toolbar dense color="primary" dark>
                <v-row justify="center">
                  <v-toolbar-title>{{formTitleDelete}}</v-toolbar-title>
                </v-row>
              </v-toolbar>
              <v-card-title>
                <v-toolbar-title>ທ່ານແນ່ໃຈບໍ່ວ່າຕ້ອງການລຶບລາຍການນີ້?</v-toolbar-title>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="btn-hover" color="blue" @click="deleteItemConfirm">
                  <v-icon class="mr-1">mdi-check</v-icon>
                  ຕົກລົງ
                </v-btn>
                <v-btn class="btn-hover" color="red" @click="closeDelete">
                  <v-icon class="mr-1">mdi-close</v-icon>
                  ຍົກເລີກ
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Dailog Delete Category Ends -->
        </v-toolbar>
        <v-divider></v-divider>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-row no-gutters justify="end">
          <v-btn color="#28a745" dark small @click="updateItem(item)" class="mr-2">
            <v-icon class="mr-2">
              mdi-pen
            </v-icon>
            ແກ້ໄຂ
          </v-btn>
          <v-btn dark color="#dc3545" small @click="deleteAction(item)">
            <v-icon class="mr-2">
              mdi-delete
            </v-icon>
            ລຶບ
          </v-btn>
        </v-row>
      </template>
      <template v-slot:no-data>
        <v-row no-gutters justify="center" class="py-5">
          <h2>ບໍ່ມີຂໍ້ມູນ</h2>
        </v-row>
      </template>
    </v-data-table>
    <!-- Data Table Category Ends -->
  </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  data: () => ({
    valid: false,
    dialog: false,
    dialogUpdate: false,
    search: '',
    dialogDelete: false,
    headers: [
      { text: "ລຳດັບ", sortable: false, value: "idx" },
      { text: "ຊື່ວັດສະດຸ", sortable: true, value: "category_name" },
      { text: "Actions", align: 'right', value: "actions", sortable: false },
    ],
    editedItem: {},
    deletedItem: {},
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "ເພີ່ມປະເພດວັດສະດຸໃໝ່" : "ເພີ່ມປະເພດວັດສະດຸໃໝ່";
    },
    formTitleUpdate() {
      return this.editedIndex === -1 ? "ແກ້ໄຂປະເພດວັດສະດຸ" : "ແກ້ໄຂປະເພດວັດສະດຸ";
    },
    formTitleDelete() {
      return this.editedIndex === -1 ? "Delete Infor" : "ລຶບຂໍ້ມູນ";
    },
    ...mapGetters({
      categories: 'categoriesMod/categories',
      length: 'categoriesMod/length'
    })
  },

  mounted() {
    this.getCategories();

  },

  methods: {
    ...mapActions('categoriesMod', ['getCategories', 'delCategory', 'postCategory', 'putCategory']),

    cancel() {
      this.dialog = false;
    },
    save() {
      if (!this.editedItem.name) {
        this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.', {
          position: 'bottom-left'
        });
        return
      }
      this.postCategory(this.editedItem)
        .then(() => {
          // alert('add Success');
          this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', {
            position: 'bottom-left'
          });
          this.getCategories();
          this.dialog = false;
          this.editedItem = {}

        })
        .catch(e => console.log(e))

    },
    cancelUpdate() {
      this.dialogUpdate = false;
    },
    saveUpdate() {
      if (!this.editedItem.category_name) {
        this.$toast.error('ຂໍ້ມູນວ່າງເປົ່າ.', {
          position: 'bottom-left'
        });
        return
      }
      this.putCategory(this.editedItem)
        .then(() => {
          // alert('add Success');
          this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', {
            position: 'bottom-left'
          });
          this.getCategories();
          this.dialogUpdate = false;
          this.editedItem = {}

        })
        .catch(e => console.log(e))

    },
    deleteAction(item) {
      this.deletedItem = Object.assign({}, item)
      this.dialogDelete = true;
    },
    deleteItemConfirm() {
      this.delCategory(this.deletedItem).then(() => {
        this.$toast.success('ລຶບສຳເລັດແລ້ວ.', {
          position: 'bottom-left'
        });
        this.getCategories();
        this.dialogDelete = false

      })
        .catch(e => {
          console.log(e);
          this.$toast.error('ຂໍ້ມູນຍັງຖືກໃຊ້ງານ.', {
            position: 'bottom-left'
          });
          this.dialogUpdate = false;
        })
    }
    ,
    closeDelete() {
      this.dialogDelete = false;
    }
    ,
    updateItem(item) {
      // alert(item.category_name)
      this.editedItem = Object.assign({}, item)
      this.dialogUpdate = true;
    }
  }
};
</script>

<style scoped>
.btn-hover:hover {
  background-color: #e3f2fd;
  color: white;
  font-weight: bold;
}

.FormTitle-Background {
  background-color: #B71C1C;
  color: white;
}
</style>
