<template>
  <v-card flat>
    <!-- Data Table Material Starts -->
    <v-data-table dense :headers="headers" :items="materials" sort-by="calories" class="elevation-1">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>ລາຍຊື່ວັດສະດຸ ({{materials.length}})</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field class="mt-7" name="name" placeholder="Search" v-model="search" outlined dense
            append-icon="mdi-magnify">
          </v-text-field>
          <v-spacer></v-spacer>
          <!-- Dailog Add Material Starts -->
          <v-dialog persistent v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark v-bind="attrs" v-on="on">
                <v-icon class="mr-1">mdi-plus</v-icon>ເພີ່ມ
              </v-btn>
            </template>
            <v-card>
              <v-toolbar dense color="primary" dark>
                <v-row justify="center">
                  <v-toolbar-title>{{formTitle}}</v-toolbar-title>
                </v-row>
              </v-toolbar>
              <v-divider></v-divider>
              <v-card-text no-gutters>
                <v-form v-model="valid">
                  <v-row justify="center" class="mt-3">
                    <v-col cols="12">
                      <v-text-field dense required :rules="[(val)=> !!val || 'Material name is required']"
                        v-model="material.name" label="ຊື່ວັດສະດຸ" outlined :counter="50"></v-text-field>
                      <v-text-field dense required :rules="[(val)=> !!val || 'Price is required']"
                        v-model="material.price" label="ລາຄາ (ກີບ)" outlined type="number" :counter="10">
                      </v-text-field>
                      <v-text-field dense class="mb-n5" required :rules="[(val)=> !!val || 'Amount is required']"
                        v-model="material.amount" label="ຈຳນວນ" outlined type="number" :counter="10">
                      </v-text-field>
                      <v-autocomplete dense class="mb-n5 mt-5" v-model="material.category"
                        :rules="[(val)=> !!val || 'Category is required']" :item-text="'category_name'"
                        :item-value="'id'" @change="onchangeSelect" :items="categoryItem" label="ປະເພດວັດສະດຸ" outlined>
                      </v-autocomplete>
                    </v-col>
                  </v-row>
                </v-form>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="btn-hover" color="blue" @click="save">
                  <v-icon class="mr-1">mdi-check</v-icon>
                  ບັນທຶກ
                </v-btn>
                <v-btn class="btn-hover" color="red" @click="close">
                  <v-icon class="mr-1">mdi-close</v-icon>
                  ຍົກເລີກ
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Dailog Add Material Ends -->
          <!-- Dailog Edit/Update Material Starts -->
          <v-dialog v-model="dialogEdit" persistent max-width="500px">
            <v-card flat>

              <v-toolbar dense color="primary" dark>
                <v-row justify="center">
                  <v-toolbar-title>{{formTitleUpdate}}</v-toolbar-title>
                </v-row>
              </v-toolbar>
              <v-card-text>
                <v-row justify="center" class="mt-3">
                  <v-col cols="12" md="12">
                    <v-text-field dense required :rules="[(val)=> !!val || 'Material name is required']"
                      v-model="editedItem.name" label="ຊື່ວັດສະດຸ" outlined :counter="50"></v-text-field>
                    <v-text-field dense required :rules="[(val)=> !!val || 'Material name is required']"
                      v-model="editedItem.price" label="ລາຄາ (ກີບ)" outlined type="number" :counter="10">
                    </v-text-field>
                    <v-text-field dense required :rules="[(val)=> !!val || 'Material name is required']"
                      v-model="editedItem.amount" label="ຈຳນວນ" outlined type="number" :counter="10">
                    </v-text-field>
                    <v-autocomplete dense class="mb-n5" v-model="editedItem.category"
                      :rules="[(val)=> !!val || 'Category is required']" :item-text="'category_name'" :item-value="'id'"
                      @change="onchangeSelectEdit" :items="categoryItem" label="ປະເພດວັດສະດຸ" outlined>
                    </v-autocomplete>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="btn-hover" color="blue" @click.prevent="saveEdit">
                  <v-icon class="mr-1">mdi-check</v-icon>
                  ບັນທຶກ
                </v-btn>
                <v-btn class="btn-hover" color="red" @click.prevent="cancelEdit">
                  <v-icon class="mr-1">mdi-close</v-icon>
                  ຍົກເລີກ
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Dailog Edit/Update Material Ends -->
          <!-- Dailog Delete Material Starts -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-toolbar dense color="primary" dark>
                <v-row justify="center">
                  <v-toolbar-title>{{formTitleDelete}}</v-toolbar-title>
                </v-row>
              </v-toolbar>
              <v-divider></v-divider>
              <v-card-title>
                <v-toolbar-title>ທ່ານແນ່ໃຈບໍ່ວ່າຕ້ອງການລຶບລາຍການນີ້?</v-toolbar-title>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="btn-hover" color="blue" @click="deleteItemConfirm">
                  <v-icon class="mr-1">mdi-check</v-icon>
                  ຕົກລົງ
                </v-btn>
                <v-btn class="btn-hover" color="red" @click="closeDelete">
                  <v-icon class="mr-1">mdi-close</v-icon>
                  ຍົກເລີກ
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Dailog Delete Material Ends -->
        </v-toolbar>
        <v-divider></v-divider>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-row no-gutters justify="end">
          <v-btn color="#28a745" dark small @click="editItem(item)" class="mr-2">
            <v-icon class="mr-1 ml-0">
              mdi-pen
            </v-icon>
            ແກ້ໄຂ
          </v-btn>
          <v-btn color="#dc3545" dark small @click="deleteItem(item)">
            <v-icon class="mr-1 ml-0">
              mdi-delete
            </v-icon>
            ລຶບ
          </v-btn>
        </v-row>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">
          Reset
        </v-btn>
      </template>
    </v-data-table>
    <!-- Data Table Material Ends -->
  </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  data: () => ({
    valid: "",
    dialog: false,
    dialogDelete: false,
    dialogEdit: false,
    headers: [
      { text: "ລຳດັບ", align: "start", sortable: false, value: "idx" },
      { text: "ຊື່ວັດສະດຸ", value: "name" },
      { text: "ລາຄາ (ກີບ)", value: "price" },
      { text: "ຈຳນວນ", value: "amount" },
      { text: "ປະເພດ", value: "category" },
      { text: "Actions", align: 'right', value: "actions", sortable: false },
    ],
    editedIndex: -1,
    editedItem: {},
    deletedItem: {},
    category: {},
    material: {
      name: null,
      price: null,
      amount: null,
      category: null
    }

  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "ເພີ່ມວັດສະດຸໃໝ່" : "ເພີ່ມວັດສະດຸໃໝ່";
    },
    formTitleUpdate() {
      return this.editedIndex === -1 ? "ແກ້ໄຂ້ວັດສະດຸ" : "ແກ້ໄຂ້ວັດສະດຸ";
    },
    formTitleDelete() {
      return this.editedIndex === -1 ? "ລຶບຂໍ້ມູນ" : "ລຶບຂໍ້ມູນ";
    },
    ...mapGetters({
      materials: 'materialsMod/materials',
      length: 'materialsMod/length',
      categoryItem: "categoriesMod/categories",
      categoryName: "categoriesMod/category_name",

    })
  },

  mounted() {
    this.getMaterials();
    this.getCategories()

  },

  methods: {
    ...mapActions('categoriesMod', ['getCategories']),
    ...mapActions('materialsMod', ['deltMaterial', 'postMaterial', 'putMaterial', 'getMaterials']),
    onchangeSelect(e) {
      try {

        for (const i of Object.keys(this.categoryItem)) {
          const el = this.categoryItem[i]
          if (el.category_name == this.material.category) {
            this.material.category = el.id
          }
          this.material.category = e;
          this.$emit('onchangeSelect');
        }
      } catch (error) {
        console.log(error);
      }
    },
    onchangeSelectEdit(e) {
      try {

        for (const i of Object.keys(this.categoryItem)) {
          const el = this.categoryItem[i]
          if (el.category_name == this.material.category) {
            this.material.category = el.id
          }
          this.material.category = e;
          this.$emit('onchangeSelectEidt');
        }
      } catch (error) {
        console.log(error);
      }
    },
    editItem(item) {
      // alert(JSON.stringify(item))
      this.editedItem = Object.assign({}, item);
      this.dialogEdit = true;
    },
    deleteItem(item) {
      this.deletedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    deleteItemConfirm() {
      this.deltMaterial(this.deletedItem)
        .then(() => {
          this.$toast.success('ລຶບສຳເລັດແລ້ວ.', {
            position: 'bottom-left'
          });
          this.getMaterials();
          this.dialogDelete = false

        })
        .catch(e => console.log(e))
    },

    close() {
      this.dialog = false;
    },

    closeDelete() {
      this.dialogDelete = false;
    },

    cancelEdit() {
      this.dialogEdit = false
    },

    save() {
      if (!this.material.name) {
        this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.', {
          position: 'bottom-left'
        });
        return
      }
      if (!this.material.price) {
        this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.', {
          position: 'bottom-left'
        });
        return
      }
      if (!this.material.amount) {
        this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.', {
          position: 'bottom-left'
        });
        return
      }
      const item = {
        name: this.material.name,
        price: this.material.price,
        amount: this.material.amount,
        category_id: this.material.category
      };
      this.postMaterial(item).then(() => {
        this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', {
          position: 'bottom-left'
        });
        this.getMaterials();
        this.dialog = false;
        this.editedItem = {}

      })
        .catch(e => console.log(e))

    },
    saveEdit() {
      if (!this.editedItem.name) {
        this.$toast.error('ຂໍ້ມູນວ່າງເປົ່າ.', {
          position: 'bottom-left'
        });
        return
      }
      if (!this.editedItem.price) {
        this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.', {
          position: 'bottom-left'
        });
        return
      }
      if (!this.editedItem.amount) {
        this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.', {
          position: 'bottom-left'
        });
        return
      }
      if (!this.material.category) {
        this.$toast.error('ກະລຸນາເລືອກປະເພດ.', {
          position: 'bottom-left'
        });
        return
      }
      const item = {
        id: this.editedItem.id,
        name: this.editedItem.name,
        price: this.editedItem.price,
        amount: this.editedItem.amount,
        category_id: this.material.category,
      }
      this.putMaterial(item)
        .then(() => {
          // alert('add Success');
          this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', {
            position: 'bottom-left'
          });
          this.getMaterials();
          this.dialogEdit = false;
          this.editedItem = {}

        })
        .catch(e => console.log(e))

    },

  }
};
</script>
<style scoped>
.btn-hover:hover {
  background-color: #e3f2fd;
  color: white;
  font-weight: bold;
}

.FormTitle-Background {
  background-color: #B71C1C;
  color: white;
}

.v-data-table th text {
  font-size: 2rem;

}
</style>