<template>
  <v-layout>
    <v-row no-gutters>
      <v-col cols="12" md="12">
        <v-card-title class="mt-n3" color="primary">
          <v-toolbar-title>ໜ້າຫຼັກ/ຈັດການຂໍ້ມູນ/ຈັດການວັດສະດຸ</v-toolbar-title>
        </v-card-title>
        <v-card-text>
          <v-toolbar color="#808080" dense>
            <v-tabs v-model="currentItem" slider-color="pink" slider-size="3">
              <v-tab v-for="item in items" :key="item" :href="'#tab-' + item">
                <v-toolbar-title style="color:white; font-size: 18px;">{{ item  }}</v-toolbar-title>
              </v-tab>
            </v-tabs>
          </v-toolbar>

          <v-tabs-items v-model="currentItem">
            <v-tab-item v-for="item in items" :key="item" :value="'tab-' + item">
              <Material-Name v-if="currentItem === 'tab-ວັດສະດຸ'" />
              <Material-Category v-if="currentItem === 'tab-ປະເພດວັດສະດຸ'" />
            </v-tab-item>
          </v-tabs-items>
        </v-card-text>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
import MaterialName from "./Material-Name.vue";
import MaterialCategory from "./Material-Category.vue";
export default {
  components: {
    MaterialName,
    MaterialCategory,
  },
  data: () => ({
    currentItem: "tab-Web",
    items: ["ວັດສະດຸ", "ປະເພດວັດສະດຸ"],
  }),
};
</script>

<style scopred>

</style>
