<template>
  <v-app>
    <div class="background"></div>
    <v-main class="d-flex justify-center align-center">
      <v-col cols="12">
        <v-card elevation="3" class="pa-4">
          <div class="text-center">
            <v-avatar size="100" color="indigo lighten-4">
              <v-icon size="40" color="indigo">mdi-account</v-icon>
            </v-avatar>
            <h2 class="indigo--text">Vuetify Login Page</h2>
          </div>
          <v-form @submit.prevent="submitHandler" ref="form">
            <v-card-text>
              <v-text-field v-model="email" :rules="emailRules" type="email" label="Email" placeholder="Email"
                prepend-inner-icon="mdi-account" required />
              <v-text-field v-model="password" :rules="passwordRules" :type="passwordShow ? 'text' : 'password'"
                label="Password" placeholder="Password" prepend-inner-icon="mdi-key"
                :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'" @click:append="passwordShow = !passwordShow"
                required />
              <v-switch label="Remember Me"></v-switch>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn :loading="loading" type="submit" color="indigo">
                <span class="white--text px-8"> Login </span>
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-col>
    </v-main>
    <v-snackbar top="0" color="green" v-model="snackbar">
      Login Success
    </v-snackbar>
  </v-app>
</template>


<script>
export default {
name: 'App',


data: () => ({
loading: false,
snackbar: false,
passwordShow: false,
password: '',
passwordRules: [
v => !!v || 'password is required',
v => (v && v.length >= 6) || 'password must be 6 characters or more!',
],
email: '',
emailRules: [
v => !!v || 'E-mail is required',
v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
],
}),
methods: {
SubmitHandler() {
if (this.$refs.form.validate()) {
this.loading = true
setTimeout(() => {
this.loading = false
this.loading = true
},);
}
}
}
};
</script>


<style scoped>
.background {
  background-image: blue !important;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  background-size: cover;
}
</style>