<template>
    <v-row no-gutters>
        <v-col cols="12" md="12">
            <v-card-title class="mt-n3" color="primary">
                <v-toolbar-title>ໜ້າຫຼັກ/ຈັດການຂໍ້ມູນ/ຜູ້ສະໜອງ</v-toolbar-title>
            </v-card-title>
            <v-card-text>
                <!-- Data Table Department Starts -->
                <v-data-table class="elevation-1" dense :headers="headers" :search="search" :items="suppliers">
                    <template v-slot:top>
                        <v-toolbar flat>
                            <v-toolbar-title>ລາຍຊື່ຜູ້ສະໜອງ ({{suppliers.length}})</v-toolbar-title>
                            <v-divider class="mx-4" inset vertical></v-divider>
                            <v-text-field class="mt-7" name="name" placeholder="Search" id="id" outlined dense
                                append-icon="mdi-magnify"></v-text-field>
                            <v-spacer></v-spacer>
                            <!-- Dailog Add Department Starts -->
                            <v-dialog v-model="dialogAdd" persistent max-width="500px">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn color="primary" dark v-bind="attrs" v-on="on">
                                        <v-icon class="mr-1">mdi-plus</v-icon>ເພີ່ມ
                                    </v-btn>
                                </template>
                                <v-card>
                                    <v-toolbar dense color="primary" dark>
                                        <v-row justify="center">
                                            <v-toolbar-title>{{formTitle}}</v-toolbar-title>
                                        </v-row>
                                    </v-toolbar>
                                    <v-card-text>
                                        <v-form ref="form" v-model="valid" lazy-validation>
                                            <v-row justify="center" class="mt-3">
                                                <v-col cols="12" class="mb-n5">
                                                    <v-text-field dense outlined v-model="supplier.name"
                                                        label="ຊື່ຜູ້ສະໜອງ" required
                                                        :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ຜູ້ສະໜອງ.']">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" class="mb-n5">
                                                    <v-text-field dense outlined v-model="supplier.address"
                                                        label="ທີ່ຢູ່" required
                                                        :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນທີ່ຢູ່.']">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" class="mb-n5">
                                                    <v-text-field type="number" dense outlined v-model="supplier.tel"
                                                        label="ເບີໂທ" required
                                                        :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນເບີໂທ.']">
                                                    </v-text-field>
                                                </v-col>
                                            </v-row>

                                        </v-form>
                                    </v-card-text>
                                    <v-divider></v-divider>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn class="btn-hover" color="blue" @click.prevent="saveAdd">
                                            <v-icon class="mr-1">mdi-check</v-icon>
                                            ບັນທຶກ
                                        </v-btn>
                                        <v-btn class="btn-hover" color="red " @click.prevent="cancelAdd">
                                            <v-icon class="mr-1">mdi-close</v-icon>
                                            ຍົກເລີກ
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <!-- Dailog Add Department Ends -->
                            <!-- Dailog Edit/Update Department Starts -->
                            <v-dialog v-model="dialogUpdate" persistent max-width="500px">
                                <v-card flat>
                                    <v-toolbar dense color="primary" dark>
                                        <v-row justify="center">
                                            <v-toolbar-title>{{formTitleUpdate}}</v-toolbar-title>
                                        </v-row>
                                    </v-toolbar>
                                    <v-card-text>
                                        <v-row justify="center" class="mt-3">
                                            <v-col cols="12" class="mb-n5">
                                                <v-text-field dense required
                                                    :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ຜູ້ສະໜອງ.']" outlined
                                                    v-model="editedItem.name" :counter="100" label="ຊື່ຜູ້ສະໜອງ">
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12" class="mb-n5">
                                                <v-text-field dense required
                                                    :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນທີ່ຢູ່.']" outlined
                                                    v-model="editedItem.address" :counter="100" label="ທີ່ຢູ່">
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12" class="mb-n5">
                                                <v-text-field dense required type="number"
                                                    :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນເບີໂທ.']" outlined
                                                    v-model="editedItem.tel" :counter="100" label="ເບີໂທ">
                                                </v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                    <v-divider></v-divider>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn class="btn-hover" color="blue " @click.prevent="saveUpdate">
                                            <v-icon class="mr-1">mdi-check</v-icon>
                                            ບັນທຶກ
                                        </v-btn>
                                        <v-btn class="btn-hover" color="red " @click.prevent="cancelUpdate">
                                            <v-icon class="mr-1">mdi-close</v-icon>
                                            ຍົກເລີກ
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <!-- Dailog Edit/Update Department Ends -->
                            <!-- Dailog Delete Department Starts -->
                            <v-dialog v-model="dialogDelete" max-width="500px">
                                <v-card>
                                    <v-toolbar dense color="primary" dark>
                                        <v-row justify="center">
                                            <v-toolbar-title>{{formTitleDelete}}</v-toolbar-title>
                                        </v-row>
                                    </v-toolbar>
                                    <v-card-title>
                                        <v-toolbar-title>ທ່ານແນ່ໃຈບໍ່ວ່າຕ້ອງການລຶບລາຍການນີ້?</v-toolbar-title>
                                    </v-card-title>
                                    <v-divider></v-divider>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn class="btn-hover" color="blue" @click="deleteItemConfirm">
                                            <v-icon class="mr-1">mdi-check</v-icon>
                                            ຕົກລົງ
                                        </v-btn>
                                        <v-btn class="btn-hover" color="red" @click="closeDelete">
                                            <v-icon class="mr-1">mdi-close</v-icon>
                                            ຍົກເລີກ
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <!-- Dailog Delete Department Ends -->
                        </v-toolbar>
                        <v-divider></v-divider>
                    </template>
                    <template v-slot:[`item.actions`]="{ item }">
                        <v-row no-gutters justify="end">
                            <v-btn color="#28a745" dark small @click="updateItem(item)">
                                <v-icon class="mr-1">
                                    mdi-pen
                                </v-icon>
                                ແກ້ໄຂ
                            </v-btn>
                            <v-btn dark color="#dc3545" small @click="deleteAction(item)" class="ml-2">
                                <v-icon class="mr-1">
                                    mdi-delete
                                </v-icon>
                                ລຶບ
                            </v-btn>
                        </v-row>
                    </template>
                    <template v-slot:no-data>
                        <v-row no-gutters justify="center" class="py-5">
                            <h3>ບໍ່ມີຂໍ້ມູນ</h3>
                        </v-row>
                    </template>
                </v-data-table>
                <!-- Data Table Department Ends -->
            </v-card-text>
            <!-- </v-card> -->
        </v-col>
    </v-row>
</template>
  
<script>

import { mapActions, mapGetters } from 'vuex'
export default {
    data: () => ({
        search: '',
        supplier: {},
        valid: true,
        dialogAdd: false,
        dialogUpdate: false,
        dialogDelete: false,
        headers: [
            { text: "ລຳດັບ", align: "start", sortable: false, value: "idx" },
            { text: "ຊື່ຜູ້ສະໜອງ", align: "start", sortable: false, value: "name" },
            { text: "ທີ່ຢູ່", value: "address" },
            { text: "ເບີໂທ", value: "tel" },
            { text: "Actions", align: "right", value: "actions", sortable: false },
        ],
        deletedItem: {},
        editedItem: {},
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? "ເພີ່ມຜູ້ສະໜອງໃໝ່" : "ເພີ່ມຜູ້ສະໜອງໃໝ່";
        },
        formTitleUpdate() {
            return this.editedIndex === -1 ? "ແກ້ໄຂຜູ້ສະໜອງ" : "ແກ້ໄຂຜູ້ສະໜອງ";
        },
        formTitleDelete() {
            return this.editedIndex === -1 ? "Delete Infor" : "ລຶບຂໍ້ມູນ";
        },
        ...mapGetters({
            suppliers: "supplierMod/suppliers",
            length: 'supplierMod/length'
        }),
    },

    mounted() {
        this.getSuppliers();
    },

    methods: {
        ...mapActions("supplierMod", [
            "getSuppliers",
            "postSupplier",
            "putSupplier",
            "delSupplier",
        ]),
        //Button cancelAdd and saveAdd Starts
        cancelAdd() {
            this.dialogAdd = false;
            // this.editedItem={}
            // this.$refs.form.cancelAdd()
        },
        saveAdd() {
            // this.$refs.form.saveAdd()
            if (!this.supplier.name || !this.supplier.address || !this.supplier.tel) {
                this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.', {
                    position: 'bottom-left'
                });
                return
            }

            this.postSupplier(this.supplier)
                .then(() => {
                    this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', { position: 'bottom-left' });
                    this.getSuppliers();
                    this.dialogAdd = false;
                    this.supplier = {};
                })
                .catch(e => console.log(e))
        },
        //Button cancelAdd and saveAdd Ends
        //Button cancelUpdate and saveUpdate Starts
        updateItem(item) {
            this.editedItem = Object.assign({}, item)
            this.dialogUpdate = true;
        },
        cancelUpdate() {
            this.dialogUpdate = false;

        },
        saveUpdate() {
            if (!this.editedItem.name || !this.editedItem.address || !this.editedItem.tel) {
                this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.', {
                    position: 'bottom-left'
                });
                return
            }

            const item = {
                id: this.editedItem.id,
                name: this.editedItem.name,
                address: this.editedItem.address,
                tel: this.editedItem.tel
            }
            this.putSupplier(item)
                .then((res) => {
                    console.log(res);
                    this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', {
                        position: 'bottom-left'
                    });
                    this.getSuppliers();
                    this.dialogUpdate = false;
                    this.editedItem = {}
                })
                .catch(e => console.log(e))
        },
        //Button cancelUpdate and saveUpdate Ends
        //Button cancelDelete and saveDelete Starts
        closeDelete() {
            this.dialogDelete = false;

        },
        deleteAction(item) {
            this.deletedItem = Object.assign({}, item)
            this.dialogDelete = true;
        },
        deleteItemConfirm() {
            this.delSupplier(this.deletedItem)
                .then(() => {
                    this.$toast.success('ລຶບສຳເລັດແລ້ວ.', { position: 'bottom-left' });
                    this.getSuppliers();
                    this.dialogDelete = false
                })
                .catch(e => {
                    console.log(e);
                    this.$toast.error('ຂໍ້ມູນຍັງຖືກງານ.', { position: 'bottom-left' });
                })
        },
        //Button cancelDelete and saveDelete Ends
    }
};
</script>
    
<style scoped>
.btn-hover:hover {
    background-color: #e3f2fd;
    color: white;
    font-weight: bold;
}
</style>
    