<template>
  <v-layout>
    <v-row no-gutters class="clickable">
      <v-col cols="12" md="12">
        <v-card class="ml-3 mr-3">
          <v-app-bar dark color="#B71C1C">
            <v-btn icon>
              <v-icon>mdi-chart-pie</v-icon>
            </v-btn>
            <v-toolbar-title class="ml-0 pl-2">Analytics</v-toolbar-title>
          </v-app-bar>
          
        </v-card>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
export default {};
</script>

<style></style>
