<template>
  <v-layout>
    <v-row class="clickable">
      <v-col cols="12" md="12 ">
        <v-card class="ml-5 mr-5">
          <v-app-bar dark color="#B71C1C">
            <v-btn icon>
              <v-icon>mdi-home</v-icon>
            </v-btn>
            <v-toolbar-title class="ml-0 pl-2">ໜ້າທຳອິດ</v-toolbar-title>
          </v-app-bar>

          <v-container fluid>
            <v-row>
              <v-col cols="12" sm="3">
                <v-hover v-slot:default="{ hover }" open-delay="0">
                  <v-card :elevation="hover ? 10 : 2" class="mx-auto" max-width="344" outlined>
                    <v-list-item three-line>
                      <v-list-item-content>
                        <v-list-item-title class="headline mb-1 ">Orders</v-list-item-title>
                      </v-list-item-content>

                      <v-list-item-avatar size="80" color="blue accent-3">
                        <v-icon dark>fas fa-box-open</v-icon>
                      </v-list-item-avatar>
                    </v-list-item>
                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-icon flab color="blue accent-3">local_offer</v-icon>
                      <v-btn text>40,664</v-btn>
                      <v-spacer></v-spacer>
                      <v-icon flab color="#2C3A47">mdi-chevron-right</v-icon>
                    </v-card-actions>
                  </v-card>
                </v-hover>
              </v-col>
              <v-col cols="12" sm="3">
                <v-hover v-slot:default="{ hover }" open-delay="0">
                  <v-card :elevation="hover ? 10 : 2" class="mx-auto" max-width="344" outlined>
                    <v-list-item three-line>
                      <v-list-item-content>
                        <v-list-item-title class="headline mb-1">Sales</v-list-item-title>
                      </v-list-item-content>

                      <v-list-item-avatar size="80" color="yellow accent-3">
                        <v-icon dark>mdi-watch</v-icon>
                      </v-list-item-avatar>
                    </v-list-item>
                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-icon flab color="yellow accent-3">directions_walk</v-icon>
                      <v-btn text>40,664</v-btn>
                      <v-spacer></v-spacer>
                      <v-icon flab color="#2C3A47">mdi-chevron-right</v-icon>
                    </v-card-actions>
                  </v-card>
                </v-hover>
              </v-col>

              <v-col cols="12" sm="3">
                <v-hover v-slot:default="{ hover }" open-delay="0">
                  <v-card :elevation="hover ? 10 : 2" class="mx-auto" max-width="344" outlined>
                    <v-list-item three-line>
                      <v-list-item-content>
                        <v-list-item-title class="headline mb-1">Sales</v-list-item-title>
                      </v-list-item-content>

                      <v-list-item-avatar size="80" color="red accent-3">
                        <v-icon dark>mdi-watch</v-icon>
                      </v-list-item-avatar>
                    </v-list-item>
                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-icon flab color="red accent-3">directions_walk</v-icon>
                      <v-btn text>40,664</v-btn>
                      <v-spacer></v-spacer>
                      <v-btn text class="text-capitalize">View Details
                        <v-icon flab color="#2c3a47">mdi-chevron-right</v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-hover>
              </v-col>
              <v-col cols="12" sm="3">
                <v-hover v-slot:default="{ hover }" open-delay="0">
                  <v-card :elevation="hover ? 10 : 2" class="mx-auto" max-width="344" outlined>
                    <v-list-item three-line>
                      <v-list-item-content>
                        <v-list-item-title class="headline mb-1">Devices</v-list-item-title>
                      </v-list-item-content>
                      <v-list-item-avatar size="80" color="green accent-3">
                        <v-icon dark>fas fa-laptop-house</v-icon>
                      </v-list-item-avatar>
                    </v-list-item>
                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-icon flab color="green accent-3">description</v-icon>
                      <v-btn text>300k</v-btn>
                      <v-spacer></v-spacer>
                      <v-btn text class="text-capitalize" small>View Details
                        <v-icon flab color="#2c3a47">mdi-chevron-right</v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-hover>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
        <v-card class="px-2 py-0">
          <Carousel />
        </v-card>

        <v-card class="ml-5 mr-5 my-5">
          <v-card-title>
            <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details>
            </v-text-field>
          </v-card-title>
          <v-data-table :headers="headers" :items="desserts" :search="search">
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
import Carousel from "./Carousel.vue";
export default {
  data() {
    return {
      search: "",
      headers: [
        {
          text: "Dessert (100g serving)",
          align: "start",
          filterable: false,
          value: "name",
        },
        { text: "Calories", value: "calories" },
        { text: "Fat (g)", value: "fat" },
        { text: "Carbs (g)", value: "carbs" },
        { text: "Protein (g)", value: "protein" },
        { text: "Iron (%)", value: "iron" },
      ],
      desserts: [
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          iron: "1%",
        },
        {
          name: "Ice cream sandwich",
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          iron: "1%",
        },
        {
          name: "Eclair",
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          iron: "7%",
        },
        {
          name: "Cupcake",
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          iron: "8%",
        },
        {
          name: "Gingerbread",
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          iron: "16%",
        },
        {
          name: "Jelly bean",
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
          iron: "0%",
        },
        {
          name: "Lollipop",
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
          iron: "2%",
        },
        {
          name: "Honeycomb",
          calories: 408,
          fat: 3.2,
          carbs: 87,
          protein: 6.5,
          iron: "45%",
        },
        {
          name: "Donut",
          calories: 452,
          fat: 25.0,
          carbs: 51,
          protein: 4.9,
          iron: "22%",
        },
        {
          name: "KitKat",
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: "6%",
        },
      ],
    };
  },
  components: {
    Carousel,
  },
};
</script>

<style>

</style>
