<template>
  <v-layout>
    <v-row no-gutters class="clickable">
      <v-col cols="12" md="12">
        <v-card class="ml-3 mr-3">
          <v-app-bar dark color="#B71C1C">
            <v-btn icon>
              <v-icon>mdi-finance</v-icon>
            </v-btn>
            <v-toolbar-title class="ml-0 pl-2">Revenue</v-toolbar-title>
          </v-app-bar>
          <row>
            <v-col cols="12" md="6">
              <v-icon>mdi-account</v-icon>
              <v-icon>mdi-bell</v-icon>
              <el-icon>mdi-home</el-icon>
            </v-col>
          </row>
        </v-card>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
export default {};
</script>

<style>

</style>
