<template>
    <v-card flat>
        <!-- Data Table Document Starts -->
        <v-data-table dense :headers="headers" :search="search" :items="documents" class="elevation-1">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>ຂໍ້ມູນເອກະສານເຂົ້າ ({{documents.length}})</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-text-field class="mt-7" name="name" placeholder="Search" v-model="search" outlined dense
                        append-icon="mdi-magnify">
                    </v-text-field>
                    <v-spacer></v-spacer>
                    <!-- Dailog Add Document Starts -->
                    <v-dialog persistent v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn color="primary" dark v-bind="attrs" v-on="on">
                                <v-icon class="mr-2">mdi-plus</v-icon>ເພີ່ມ
                            </v-btn>
                        </template>
                        <v-card>
                            <v-toolbar dense color="primary" dark>
                                <v-row justify="center">
                                    <v-toolbar-title>{{formTitle}}</v-toolbar-title>
                                </v-row>
                            </v-toolbar>
                            <v-divider></v-divider>
                            <v-card-text no-gutters>
                                <v-form v-model="valid">
                                    <v-row justify="center" class="mt-3">
                                        <v-col cols="12" class="mb-n5">
                                            <v-text-field dense required
                                                :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ເອກະສານ']"
                                                v-model="documents.name" label="ຊື່ ເອກະສານເຂົ້າ" outlined>
                                            </v-text-field>
                                        </v-col>
                                        <v-col cols="12" class="mb-n5">
                                            <!-- <v-combobox dense outlined required :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ພະນັກງານ']"
                            v-model="documents.employee_fname" label="ຊື່ ພະນັກງານ" @change="onchangeSelect"
                            :items="employeeItem" :item-text="'firstname'"></v-combobox> -->
                                            <v-autocomplete dense v-model="documents.employee_fname"
                                                :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ພະນັກງານ']"
                                                :item-text="'firstname'" :item-value="'id'" @change="onchangeSelect"
                                                :items="employeeItem" label="ຊື່ ພະນັກງານ" outlined>
                                            </v-autocomplete>
                                        </v-col>
                                        <v-col cols="12" class="mb-n5">
                                            <v-file-input :rules="[(val)=> !!val || 'ກະລຸນາເພີ່ມຮູບພາບເອກະສານ']"
                                                v-model="documents.image" label="ເພີ່ມຮູບພາບເອກະສານ" outlined dense
                                                accept="image/png, image/jpeg, image/bmp" truncate-length="5">
                                            </v-file-input>
                                        </v-col>
                                        <v-col cols="12" class="mb-n5">
                                            <v-textarea dense v-model="documents.description" rows="5" label="ຄຳອະທິບາຍ"
                                                outlined filled required
                                                :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຄຳອະທິບາຍ']">
                                            </v-textarea>
                                        </v-col>

                                        <!-- Dailog Date Time Starts -->
                                        <!-- <v-col cols="12" class="mb-n8">
                          <v-dialog ref="dialog" v-model="modal" :return-value.sync="date" persistent width="290px">
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field dense v-model="date" label="ວັນທີສ້າງ" append-icon="mdi-calendar" readonly
                                outlined v-bind="attrs" v-on="on"></v-text-field>
                            </template>
                            <v-date-picker v-model="date" scrollable>
                              <v-spacer></v-spacer>
                              <v-btn class="btn-hover" color="blue" @click="$refs.dialog.save(date)">
                                ຕົກລົງ
                              </v-btn>
                              <v-btn class="btn-hover" color="red" @click="modal = false">
                                ຍົກເລີກ
                              </v-btn>
                            </v-date-picker>
                          </v-dialog>
                        </v-col> -->
                                        <!-- Dailog Date Time Ends -->
                                    </v-row>
                                </v-form>
                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn class="btn-hover" color="blue" @click="save">
                                    <v-icon class="mr-1">mdi-check</v-icon>
                                    ບັນທຶກ
                                </v-btn>
                                <v-btn class="btn-hover" color="red" @click="close">
                                    <v-icon class="mr-1">mdi-close</v-icon>
                                    ຍົກເລີກ
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <!-- Dailog Add Document Ends -->
                    <!-- Dailog Edit/Update Document Starts -->
                    <v-dialog v-model="dialogEdit" persistent max-width="500px">
                        <v-card flat>
                            <v-toolbar dense color="primary" dark>
                                <v-row justify="center">
                                    <v-toolbar-title>{{formTitleUpdate}}</v-toolbar-title>
                                </v-row>
                            </v-toolbar>
                            <v-card-text no-gutters>
                                <v-form v-model="valid">
                                    <v-row justify="center" class="mt-3">
                                        <v-col cols="12" class="mb-n5">
                                            <v-text-field dense required
                                                :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ເອກະສານ']"
                                                v-model="editedItem.name" label="ຊື່ ເອກະສານເຂົ້າ" outlined>
                                            </v-text-field>
                                        </v-col>
                                        <v-col cols="12" class="mb-n5">
                                            <!-- <v-combobox dense outlined required :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ພະນັກງານ']"
                            v-model="editedItem.employee_fname" label="ຊື່ ພະນັກງານ" @change="onchangeSelectEdit">
                          </v-combobox> -->
                                            <v-autocomplete dense v-model="editedItem.employee_fname"
                                                :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ພະນັກງານ']"
                                                :item-text="'firstname'" :item-value="'id'" @change="onchangeSelectEdit"
                                                :items="employeeItem" label="ຊື່ ພະນັກງານ" outlined>
                                            </v-autocomplete>
                                        </v-col>
                                        <v-col cols="12" class="mb-n5">
                                            <v-file-input :rules="[(val)=> !!val || 'ກະລຸນາເພີ່ມຮູບພາບເອກະສານ']"
                                                v-model="editedItem.image" label="ເພີ່ມຮູບພາບເອກະສານ" outlined dense
                                                accept="image/png, image/jpeg, image/bmp" truncate-length="5">
                                            </v-file-input>
                                        </v-col>
                                        <v-col cols="12" class="mb-n5">
                                            <v-textarea dense v-model="editedItem.description" rows="5"
                                                label="ຄຳອະທິບາຍ" outlined filled required
                                                :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຄຳອະທິບາຍ']">
                                            </v-textarea>
                                        </v-col>
                                        <!-- Dailog Date Time Starts -->
                                        <!-- <v-col cols="12" class="mb-n8">
                          <v-dialog ref="dialog" v-model="modal" :return-value.sync="date" persistent width="290px">
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field dense v-model="date" label="ວັນທີສ້າງ" append-icon="mdi-calendar" readonly
                                outlined v-bind="attrs" v-on="on"></v-text-field>
                            </template>
                            <v-date-picker v-model="date" scrollable>
                              <v-spacer></v-spacer>
                              <v-btn class="btn-hover" color="blue" @click="$refs.dialog.save(date)">
                                ຕົກລົງ
                              </v-btn>
                              <v-btn class="btn-hover" color="red" @click="modal = false">
                                ຍົກເລີກ
                              </v-btn>
                            </v-date-picker>
                          </v-dialog>
                        </v-col> -->
                                        <!-- Dailog Date Time Ends -->
                                    </v-row>
                                </v-form>
                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn class="btn-hover" color="blue" @click.prevent="saveEdit">
                                    <v-icon class="mr-1">mdi-check</v-icon>
                                    ບັນທຶກ
                                </v-btn>
                                <v-btn class="btn-hover" color="red" @click.prevent="cancelEdit">
                                    <v-icon class="mr-1">mdi-close</v-icon>
                                    ຍົກເລີກ
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <!-- Dailog Edit/Update Document Ends -->
                    <!-- Dailog Delete Document Starts -->
                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-toolbar dense color="primary" dark>
                                <v-row justify="center">
                                    <v-toolbar-title>{{ formTitleDelete }}</v-toolbar-title>
                                </v-row>
                            </v-toolbar>
                            <v-divider></v-divider>
                            <v-card-title class="justify-center">
                                <v-toolbar-title>ທ່ານແນ່ໃຈບໍ່ວ່າຕ້ອງການລຶບລາຍການນີ້?</v-toolbar-title>
                            </v-card-title>
                            <v-divider></v-divider>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn class="btn-hover" color="blue" @click="deleteItemConfirm">
                                    <v-icon class="mr-1">mdi-check</v-icon>
                                    ຕົກລົງ
                                </v-btn>
                                <v-btn class="btn-hover" color="red" @click="closeDelete">
                                    <v-icon class="mr-1">mdi-close</v-icon>
                                    ຍົກເລີກ
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <!-- Dailog Delete Document Ends -->
                </v-toolbar>
                <v-divider></v-divider>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
                <v-row no-gutters justify="end">
                    <v-btn color="#28a745" dark small @click="editItem(item)" class="mr-2">
                        <v-icon class="mr-1">
                            mdi-pen
                        </v-icon>
                        ແກ້ໄຂ
                    </v-btn>
                    <v-btn color="#dc3545" dark small @click="deleteItem(item)">
                        <v-icon class="mr-1">
                            mdi-delete
                        </v-icon>
                        ລຶບ
                    </v-btn>
                </v-row>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary">
                    Reset
                </v-btn>
            </template>
        </v-data-table>
        <!-- Data Table Document Ends -->
    </v-card>
</template>
    
<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    data: () => ({
        valid: false,
        search: '',
        dialog: false,
        dialogDelete: false,
        dialogEdit: false,
        headers: [
            { text: "ລຳດັບ", align: "start", sortable: false, value: "idx" },
            { text: "ຊື່ ເອກະສານ", align: "start", sortable: false, value: "name" },
            { text: "ຮູບເອກະສານ", value: "image" },
            { text: "ຄຳອະທິບາຍ", value: "description" },
            { text: "ຊື່ ພະນັກງານ", value: "employee_fname" },
            // { text: "ວັນທີສ້າງ", value: "created_date" },
            { text: "Actions", align: 'right', value: "actions", sortable: false },
        ],
        editedItem: {},
        deletedItem: {},
        employee_fname: {},
        // Dailog DateTime Starts
        // modal: false,
        // date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
        // Dailog DateTime Ends
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? "ເພີ່ມເອກະສານເຂົ້າໃຫມ່" : "ເພີ່ມເອກະສານເຂົ້າໃຫມ່";
        },
        formTitleUpdate() {
            return this.editedIndex === -1 ? "ແກ້ໄຂເອກະສານເຂົ້າ" : "ແກ້ໄຂເອກະສານເຂົ້າ";
        },
        formTitleDelete() {
            return this.editedIndex === -1 ? "ລຶບຂໍ້ມູນ" : "ລຶບຂໍ້ມູນ";
        },
        ...mapGetters({
            documents: 'documentModules/documents',
            length: 'documentModules/length',
            employeeItem: 'employeeModules/employees',
            employeeName: 'employeeModules/firstname',
        })
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
        dialogDelete(val) {
            val || this.closeDelete();
        },
    },
    mounted() {
        this.getDocuments();
        this.getEmployees();
    },
    methods: {
        ...mapActions('employeeModules', ['getEmployees']),
        ...mapActions('documentModules', ['getDocuments', 'delDocument', 'postDocument', 'putDocument']),
        onchangeSelect(e) {
            try {
                for (const i of Object.keys(this.employeeItem)) {
                    const el = this.employeeItem[i]
                    if (el.firstname == this.documents.employee_fname) {
                        this.documents.employee_fname = el.id
                    }
                    this.documents.employee_fname = e;
                    this.$emit('onchangeSelect');
                }
            }
            catch (error) {
                console.log(error);
            }
        },
        onchangeSelectEdit(e) {
            try {
                for (const i of Object.keys(this.employeeItem)) {
                    const el = this.employeeItem[i]
                    if (el.firstname == this.documents.employee_fname) {
                        this.documents.employee_fname = el.id
                    }
                    this.documents.employee_fname = e;
                    this.$emit('onchangeSelectEidt');
                }
            }
            catch (error) {
                console.log(error);
            }
        },

        editItem(item) {
            this.editedItem = Object.assign({}, item);
            this.dialogEdit = true;
        },
        deleteItem(item) {
            this.deletedItem = Object.assign({}, item);
            this.dialogDelete = true;
        },
        deleteItemConfirm() {
            this.delDocument(this.deletedItem)
                .then(() => {
                    this.$toast.success('ລຶບສຳເລັດແລ້ວ.', {
                        position: 'bottom-left'
                    });
                    this.getDocuments();
                    this.dialogDelete = false
                })
                .catch(e => console.log(e))
        },
        close() {
            this.dialog = false;
        },
        closeDelete() {
            this.dialogDelete = false;
        },
        cancelEdit() {
            this.dialogEdit = false
        },
        save() {
            if (!this.documents.name || !this.documents.description || !this.documents.image || !this.documents.employee_fname) {
                this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນ.', {
                    position: 'bottom-left'
                });
                return
            }
            const item = {
                doc_name: this.editedItem.name,
                description: this.editedItem.description,
                type: '0',
                image: this.editedItem.image,
                employee_fname: this.editedItem.employee_fname,
            }
            this.postDocument(item)
                .then(() => {
                    this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', {
                        position: 'bottom-left'
                    });
                    this.getDocuments();
                    this.dialog = false;
                    this.editedItem = {}
                })
                .catch(e => console.log(e))
        },
        saveEdit() {
            if (!this.editedItem.name || !this.editedItem.description || !this.editedItem.image || !this.editedItem.employee_fname) {
                this.$toast.error('ຂໍ້ມູນວ່າງເປົ່າ.', {
                    position: 'bottom-left'
                });
                return
            }
            const item = {
                document_id: this.editedItem.document_id,
                doc_name: this.editedItem.name,
                description: this.editedItem.description,
                type: '0',
                emp_id: this.editedItem.emp_id,
                image: this.editedItem.image,
                employee_fname: this.editedItem.employee_fname,
            }
            this.putDocument(item)
                .then(() => {
                    // alert('add Success');
                    this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', {
                        position: 'bottom-left'
                    });
                    this.getDocuments();
                    this.dialogEdit = false;
                    this.editedItem = {}
                })
                .catch(e => console.log(e))
        },
    }
};
</script>
  
<style scoped>
.btn-hover:hover {
    background-color: #e3f2fd;
    color: white;
    font-weight: bold;
}

.FormTitle-Background {
    background-color: #B71C1C;
    color: white;
}
</style>