<template>
    <v-card flat>
        <v-form v-model="valid">
            <v-container>
                <v-row class="mb-n5">
                    <v-col cols="12" md="4">
                        <v-row justify="center">
                            <v-avatar tile height="400" width="300">
                                <v-img src="@/assets/avatar2.jpg">
                                </v-img>
                            </v-avatar>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="8" class="pt-0">
                        <v-row>
                            <v-col cols="12" md="6">
                                <v-text-field v-model="firstname" :rules="firstnameRules" :counter="10"
                                    label="First name" outlined dense required>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-text-field v-model="lastname" :rules="lastnameRules" :counter="10" label="Last name"
                                    outlined dense required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-text-field v-model="dob" :rules="dateofbirthRules" :counter="10"
                                    label="Date of Birth" outlined dense required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-text-field v-model="tel" :rules="telRules" :counter="10" label="Phone Number"
                                    outlined dense required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-text-field v-model="email" :rules="emailRules" label="E-mail" outlined dense
                                    required>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-text-field v-model="address" :rules="addressRules" :counter="10" label="Address"
                                    outlined dense required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-text-field v-model="salary" :rules="saralyRules" :counter="10" label="Salary"
                                    outlined dense required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="6" class="d-flex">
                                <v-autocomplete v-model="value" :rules="departmentRules" :items="items" dense
                                    label="Department" outlined></v-autocomplete>
                            </v-col>
                            <v-col cols="12">
                                <v-dialog ref="dialog" v-model="modal" :return-value.sync="date" persistent
                                    width="300px">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field v-model="date" label="Date-Time" append-icon="mdi-calendar"
                                            readonly outlined dense v-bind="attrs" v-on="on"></v-text-field>
                                    </template>
                                    <v-divider></v-divider>
                                    <v-date-picker v-model="date" scrollable>
                                        <v-spacer></v-spacer>
                                        <v-btn class="btn-hover" color="blue" @click="$refs.dialog.save(date)">
                                            ຕົກລົງ
                                        </v-btn>
                                        <v-btn class="btn-hover" color="red" @click="modal = false">
                                            ຍົກເລີກ
                                        </v-btn>
                                    </v-date-picker>
                                </v-dialog>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-form>
    </v-card>
</template>
    
<script>
import { mapActions } from "vuex";
export default {
    data: () => ({
        valid: false,
        firstname: "",
        lastname: "",
        dob: "",
        tel: "",
        email: "",
        address: "",
        salary: "",
        department: "",
        datetime: "",
        //Tell the Rules is Required Starts
        firstnameRules: [
            (v) => !!v || "First name is required",
            (v) => v.length <= 10 || "First name must be less than 10 characters",
        ],
        lastnameRules: [
            (v) => !!v || "Last name is required",
            (v) => v.length <= 10 || "Last name must be less than 10 characters",
        ],
        dateofbirthRules: [
            (v) => !!v || "Name is required",
            (v) => v.length <= 10 || "Name must be less than 10 characters",
        ],
        telRules: [
            (v) => !!v || "E-mail is required",
            (v) => /.+@.+/.test(v) || "E-mail must be valid",
        ],
        emailRules: [
            (v) => !!v || "E-mail is required",
            (v) => /.+@.+/.test(v) || "E-mail must be valid",
        ],
        addressRules: [
            (v) => !!v || "Name is required",
            (v) => v.length <= 10 || "Name must be less than 10 characters",
        ],
        saralyRules: [
            (v) => !!v || "E-mail is required",
            (v) => /.+@.+/.test(v) || "E-mail must be valid",
        ],
        datetimeRules: [
            (v) => !!v || "E-mail is required",
            (v) => /.+@.+/.test(v) || "E-mail must be valid",
        ],
        departmentRules: [
            (v) => !!v || "E-mail is required",
            (v) => /.+@.+/.test(v) || "E-mail must be valid",
        ],
        //Tell the Rules is Required Ends
        //Autocompletes Props Dense Departments Starts
        items: [
            "ຈັດຕັ້ງ, ແຜນການ ແລະ ການເງິນ",
            "ກວດກາພາຍໃນ",
            "ຝຶກອົບຮົມ ແລະ ພັດທະນາລະບົບ",
            "ຄຸ້ມຄອງລະບົບຂໍ້ມູນຂ່າວສານ",
            "ນັກພັດທະນາ",
            "ຂົນສົ່ງ",
            "ເຕັກໂນໂລຊີ ແລະ ການສື່ສານ",
            "ກວດກາລາຍຈ່າຍງົບປະມານ",
            "ໂຍທາທິການ",
            "ຊັບສິນ",
        ],
        value: "null",
        //Autocompletes Props Dense Departments Ends
        //Dailog Date-Time Starts
        date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
            .toISOString()
            .substr(0, 10),
        modal: false,
        //Dailog Date-Time Ends
    }),
    methods: {
        ...mapActions("employeeModules", ["postEmployee"]),
        async save() {
            if (!this.firstname || !this.lastname) {
                this.$toast.error("ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.", { position: 'bottom-left' });
                return;
            }
            // await this.postSupplier(this.supplier);
            // this.supplier = {};
            // this.$toast.success("ບັນທຶກສຳເລັດແລ້ວ", position: 'bottom-left');
            // this.$router.push('/supplier-index')
            const item = {
                emp_id: this.emp_id,
                firstname: this.firstname,
                lastname: this.lastname,
                tel: this.tel,
                iemaild: this.email,
                address: this.address,
                saraly: this.saraly,
                image: this.image,
                department: this.department,
                // permission: this.permission,
            }
            await this.postEmployee(item)
                .then(() => {
                    this.postEmployees();
                    this.$toast.success("ບັນທຶກສຳເລັດແລ້ວ", { position: 'bottom-left' });
                    this.$router.push('/manage/employees/employee-index')
                    this.editedItem = {};
                })
                .catch(error => console.log(error));
        }
    }
};
</script>
    
<style scoped>
.btn-hover:hover {
    background-color: #e3f2fd;
    color: white;
    font-weight: bold;
}
</style>
    