<template>
  <v-row no-gutters>
    <v-col cols="12" md="12">
      <v-card-title class="mt-n3" color="primary">
        <v-toolbar-title>ໜ້າຫຼັກ/ຈັດການຂໍ້ມູນ/ພະນັກງານ</v-toolbar-title>
      </v-card-title>
      <v-card-text>

        <!-- <div v-for="(val,i) in employees" :key="i">
            {{val}}
            <v-img width="100" height="100" contain :src="val.image"></v-img>
          </div> -->

        <!-- Data Table Employee Starts -->
        <v-data-table dense :headers="headers" :items="employees" class="elevation-1">
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>ລາຍຊື່ພະນັກງານ ({{employees.length}})</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-text-field class="mt-7" name="name" placeholder="Search" id="id" outlined dense
                append-icon="mdi-magnify"></v-text-field>
              <v-spacer></v-spacer>
              <v-btn color="primary" dark to="/employee/add">
                <v-icon class="mr-1">mdi-plus</v-icon>ເພີ່ມ
              </v-btn>
              <!-- Dailog Delete Employee Starts -->
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-toolbar dense dark color="primary">
                    <v-row justify="center">
                      <v-toolbar-title>{{ formTitleDelete }}</v-toolbar-title>
                    </v-row>
                  </v-toolbar>
                  <v-divider></v-divider>
                  <v-card-title>
                    <v-toolbar-title>ທ່ານແນ່ໃຈບໍ່ວ່າຕ້ອງການລຶບລາຍການນີ້?</v-toolbar-title>
                  </v-card-title>
                  <v-divider></v-divider>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="btn-hover" color="blue" @click="deleteItemConfirm">
                      <v-icon class="mr-1">mdi-check</v-icon>
                      ຕົກລົງ
                    </v-btn>
                    <v-btn class="btn-hover" color="red" @click="closeDelete">
                      <v-icon class="mr-1">mdi-close</v-icon>
                      ຍົກເລີກ
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Dailog Delete Employee Ends -->
            </v-toolbar>
            <v-divider></v-divider>
          </template>
          <template v-slot:[`item.image`]>
            <v-avatar tile height="100" width="85" class="my-2">
              <img
                src="https://jelly-site.s3.amazonaws.com/uploads/ckeditor/pictures/26612/content_Screen_Shot_2562-08-01_at_14.55.16.png">
            </v-avatar>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-row no-gutters justify="end">
              <v-btn color="#007bff" dark small to="/employee/view">
                <v-icon class="mr-2">
                  mdi-eye
                </v-icon>
                ເບິ່ງຂໍ້ມູນ
              </v-btn>
              <v-btn color="#28a745" dark small class="ml-2" to="/employee/edit">
                <v-icon class="mr-2">
                  mdi-pen
                </v-icon>
                ແກ້ໄຂ
              </v-btn>
              <v-btn dark color="#dc3545" small @click="deleteAction(item)" class="ml-2">
                <v-icon class="mr-1">
                  mdi-delete
                </v-icon>
                ລຶບ
              </v-btn>
            </v-row>
          </template>
          <template v-slot:no-data>
            <v-btn color="primary" @click="initialize">
              Reset
            </v-btn>
          </template>
        </v-data-table>
        <!-- Data Table Employee Starts -->
      </v-card-text>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  data: () => ({
    search: "",
    dialogDelete: false,
    deletedItem: {},
    headers: [
      { text: "ລຳດັບ", align: "start", sortable: false, value: "idx" },
      { text: "ຮູບພະນັກງານ", value: "image" },
      { text: "ຊື່", sortable: false, value: "firstname" },
      { text: "ນາມສະກຸນ", value: "lastname" },
      { text: "ເບີໂທ", value: "tel" },
      { text: "ທີ່ຢູ່", value: "address" }, //(ບ້ານ, ເມືອງ, ແຂວງ)
      { text: "ເງີນເດືອນ", value: "salary" },
      { text: "ພະແນກ", value: "department" },
      { text: "Actions", align: "right", value: "actions", sortable: false },
    ],
    editedItem: {},
  }),
  computed: {
    ...mapGetters({
      employees: "employeeModules/employees",
      length: "employeeModules/length",
    }),
    formTitleDelete() {
      return this.editedIndex === -1 ? "Delete Infor" : "ລຶບຂໍ້ມູນ";
    },
  },
  mounted() {
    this.getEmployees();
  },
  methods: {
    ...mapActions("employeeModules", ["getEmployees", "postEmployee", "putEmployee", "delEmployee"]),
    //Dialog Button Delete Starts
    closeDelete() {
      this.dialogDelete = false;
    },
    deleteAction(item) {
      this.deletedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    deleteItemConfirm() {
      // try {
      this.delEmployee(this.editedItem)
        .then(() => {
          this.$toast.success("ລຶບສຳເລັດແລ້ວ.", {
            position: "bottom-left",
          });
          this.getEmployees();
          this.dialogDelete = false;
          // console.log(res);
        })
        .catch((e) => console.log(e));
    }
    // catch (error) {
    //   this.dialogDelete = false;
    //   console.log(error);
    // }

    //Dialog Button Delete Ends
  },
};
</script>
<style scoped>
.btn-hover:hover {
  color: white;
  font-weight: bold;
}

.FormTitle-Background {
  background-color: #B71C1C;
  color: white;
}
</style>
