<template>
  <v-layout>
    <v-row no-gutters>
      <v-col cols="12" md="12">
        <v-card-title class="mt-n3" color="primary">
          <v-toolbar-title>ໜ້າຫຼັກ/ຈັດການຂໍ້ມູນ/ພະນັກງານ/ເພີ່ມພະນັກງານໃ໋ໝ່</v-toolbar-title>
        </v-card-title>
        <v-card-text>
          <v-card>
            <v-card-title>
              <v-spacer></v-spacer>
              <v-toolbar-title>ຂໍ້ມູນພະນັກງານ</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn color="primary" dark to="/manage/employees/employee-index">
                <v-icon class="mr-1">mdi-arrow-left</v-icon>ກັບຄືນ
              </v-btn>
            </v-card-title>
            <!-- Tab Employee Starts -->
            <v-toolbar color="#808080" dense>
              <v-tabs v-model="currentItem" slider-color="pink" slider-size="3">
                <v-tab v-for="item in items" :key="item" :href="'#tab-' + item">
                  <v-toolbar-title style="color:white; font-size: 18px;">{{ item  }}</v-toolbar-title>
                </v-tab>
              </v-tabs>
            </v-toolbar>
            <v-tabs-items v-model="currentItem">
              <v-tab-item v-for="item in items.concat(more)" :key="item" :value="'tab-' + item">
                <EmployeesAdd01 v-if="currentItem === 'tab-ຂໍ້ມູນພະນັກງານ'" />
                <EmployeesAdd02 v-if="currentItem === 'tab-ປະຫັວດພະນັກງານ'" />
                <EmployeesAdd03 v-if="currentItem === 'tab-ການສຶກສາ'" />
              </v-tab-item>
            </v-tabs-items>
            <!-- Tab Employee Ends -->
            <v-divider></v-divider>
            <v-card-actions>
              <v-row no-gutters>
                <v-col cols="12">
                  <v-btn class="btn-hover mb-2" width="100%" color="blue" @click="save">
                    <v-icon class="mr-1"> mdi-check</v-icon>
                    ບັນທຶກ
                  </v-btn>
                  <v-btn class="btn-hover" width="100%" color="red" @click="close"
                    to="/manage/employees/employee-index">
                    <v-icon class="mr-1"> mdi-close</v-icon>
                    ຍົກເລີກ
                  </v-btn>
                </v-col>
              </v-row>
            </v-card-actions>
          </v-card>
        </v-card-text>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
import EmployeesAdd01 from "./Employee-Add01.vue";
import EmployeesAdd02 from "./Employee-Add02.vue";
import EmployeesAdd03 from "./Employee-Add03.vue";
export default {
  components: {
    EmployeesAdd01,
    EmployeesAdd02,
    EmployeesAdd03
  },
  data: () => ({
    currentItem: "tab-Web",
    items: ["ຂໍ້ມູນພະນັກງານ", "ປະຫັວດພະນັກງານ", "ການສຶກສາ"],
  }),
};
</script>

<style scoped>

</style>
