<template>
    <v-layout>
        <v-row no-gutters>
            <v-col cols="12" md="12">
                <v-card-title class="mt-n3" color="primary">
                    <v-toolbar-title>ໜ້າຫຼັກ/ຈັດການຂໍ້ມູນ/ພະນັກງານ/ເບິ່ງລາຍລະອຽດ</v-toolbar-title>
                </v-card-title>
                <v-card-text>
                    <v-card>
                        <v-card-title>
                            <v-spacer></v-spacer>
                            <v-toolbar-title>ຂໍ້ມູນພະນັກງານ</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" dark to="/manage/employees/employee-index">
                                <v-icon class="mr-1">mdi-arrow-left</v-icon>ກັບຄືນ
                            </v-btn>
                        </v-card-title>
                        <v-divider></v-divider>
                        <v-form v-model="valid">
                            <v-container>
                                <v-row class="mb-n5">
                                    <v-col cols="12" md="4">
                                        <v-row justify="center">
                                            <v-avatar tile height="400" width="300">
                                                <!-- <v-img src="@/assets/avatar2.jpg">
                                                </v-img> -->
                                                <v-img
                                                    src="https://obs.line-scdn.net/0h_gu_Yv7qAEhIJhQTQUt_H3BwDDl7QBpBahdMLzohCXhlChJMdERTK2wvX2Q1EE4ZaBdHJmguV3w2FUIcdA/w644">
                                                </v-img>
                                            </v-avatar>
                                        </v-row>
                                    </v-col>
                                    <v-col cols="12" md="8" class="pt-0">
                                        <v-row>
                                            <v-col cols="12" md="6" class="mb-n7">
                                                <v-text style="font-weight:bold">First Name</v-text>
                                                <v-text-field disabled v-model="firstname" outlined dense
                                                    label="Bounmeexay">
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12" md="6" class="mb-n7">
                                                <v-text style="font-weight:bold">Last Name</v-text>
                                                <v-text-field disabled v-model="lastname" outlined dense label="Yang">
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12" md="6" class="mb-n7">
                                                <v-text style="font-weight:bold">Date of Birth</v-text>
                                                <v-text-field disabled v-model="dateofbirth" label="10/10/1999" outlined
                                                    dense>
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12" md="6" class="mb-n7">
                                                <v-text style="font-weight:bold">Phone Number</v-text>
                                                <v-text-field disabled v-model="tel" label="020 95681295" outlined
                                                    dense>
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12" md="6" class="mb-n7">
                                                <v-text style="font-weight:bold">E-mail</v-text>
                                                <v-text-field disabled v-model="email" label="Bounmeexay@gmail.com"
                                                    outlined dense>
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12" md="6" class="mb-n7">
                                                <v-text style="font-weight:bold">Address</v-text>
                                                <v-text-field disabled v-model="address"
                                                    label="ຕານມີໄຊ, ໄຊທານີ, ນະຄອນຫຼວງວຽງຈັນ" outlined dense>
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12" md="6" class="mb-n7">
                                                <v-text style="font-weight:bold">Salary</v-text>
                                                <v-text-field disabled v-model="salary" label="2,500,000 ກີບ" outlined
                                                    dense>
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12" md="6" class="mb-n7">
                                                <v-text style="font-weight:bold">Department</v-text>
                                                <v-text-field disabled v-model="value" :items="items" dense
                                                    label="ນັກພັດທະນາແວັບ" outlined>
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12">
                                                <v-text style="font-weight:bold">Date</v-text>
                                                <v-text-field disabled v-model="value" :items="items" dense
                                                    label="2022-02-05" outlined>
                                                </v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>
                       <!-- <v-divider></v-divider>
                         <v-card-actions>
                            <v-row no-gutters>
                                <v-col cols="12">
                                    <v-btn class="btn-hover" width="100%" color="red" @click="close"
                                        to="/manage/employees/employee-index">
                                        <v-icon class="mr-1"> mdi-close</v-icon>
                                        ຍົກເລີກ
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-card-actions> -->
                    </v-card>
                </v-card-text>
            </v-col>
        </v-row>
    </v-layout>
</template>
  
<script>
export default {
    data: () => ({
    })
};
</script>
  
<style scoped>
.btn-hover:hover {
    background-color: #e3f2fd;
    color: white;
    font-weight: bold;
}

.FormTitle-Background {
    background-color: #B71C1C;
    color: white;
}
</style>
  