<template>
  <v-app style="-webkit-app-region: drag" id="App">
    <!-- SideBar Starts-->
    <v-navigation-drawer v-model="drawer" :mini-variant.sync="mini" permanent color="#B71C1C" dark app>
      <!-- Side Bar Logo And Title Starts -->
      <v-list-item class="px-2 pt-1">
        <v-list-item-avatar>
          <v-img style="cursor: pointer" src="./assets/itworld.png" class="mx-auto" />
        </v-list-item-avatar>
        <v-toolbar-title class="ml-0 mb-1 text-capitalize font-logo" style="font-size:30px">ນະຄອນ ໄອທີ</v-toolbar-title>
      </v-list-item>
      <!-- Side Bar Logo And Title Ends -->

      <v-list shaped class="clickable">
        <template v-for="item in items">
          <v-list-group v-if="item.children" :key="item.text" v-model="item.model" :prepend-icon="item['icon-ctr']"
            :append-icon="item.model ? item.icon : item['icon-alt']" active-class="yellow--text">
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>
                  {{item.text}}
                </v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item v-for="(child, i) in item.children" :key="i" route :to="child.route"
              active-class="yellow--text">
              <v-list-item-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ child.text }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <v-list-item v-else :key="item.text" active-class="yellow--text" route :to="item.route">
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>
    <!-- SideBar Ends -->

    <!-- Header Starts -->
    <v-app-bar color="#B71C1C" dark app>
      <v-app-bar-nav-icon @click.stop="mini = !mini" class="clickable" />
      <v-toolbar-title style="width: 300px" class="ml-0 pl-2">
        <span class="hidden-sm-and-down mr-5 cursor">ໜ້າຫຼັກ</span>
        <span class="hidden-sm-and-down mr-5 cursor">ຜູ້ໃຊ້</span>
        <span class="hidden-sm-and-down cursor">ການຕັ້ງຄ່າ</span>
      </v-toolbar-title>

      <v-spacer />
      <!-- Laos Flag Logo Starts -->
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <span v-bind="attrs" v-on="on" style="cursor: pointer" class="mr-3">
            <v-avatar size="25" tile width="100%">
              <img src="./assets/lao_flag.png" />
            </v-avatar>
          </span>
        </template>
      </v-menu>
      <!-- Laos Flag Logo Ends -->

      <!-- UK Flag Logo Starts -->
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <span v-bind="attrs" v-on="on" style="cursor: pointer" class="mr-3">
            <v-avatar size="25" tile width="100%">
              <img src="./assets/uk_flag.png" />
            </v-avatar>
          </span>
        </template>
      </v-menu>
      <!-- UK Flag Logo Ends -->

      <!-- China Flag Logo Starts -->
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <span v-bind="attrs" v-on="on" style="cursor: pointer" class="mr-3">
            <v-avatar size="25" tile width="100%">
              <img src="./assets/china_flag.png" />
            </v-avatar>
          </span>
        </template>
      </v-menu>
      <!-- China Flag Logo Ends -->

      <!-- Bell Icon Starts -->
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <span v-bind="attrs" v-on="on" style="cursor: pointer" class="mr-1">
            <v-badge offset-x="12" offset-y="14" color="red" content="99+">
              <v-icon size="30">mdi-bell</v-icon>
            </v-badge>
          </span>
        </template>
        <v-list three-line width="300" height="500px">
          <template v-for="(item, index) in bell">
            <v-subheader v-if="item.header" :key="item.header" v-text="item.header"></v-subheader>

            <v-divider v-else-if="item.divider" :key="index" :inset="item.inset"></v-divider>

            <v-list-item v-else :key="item.title">
              <v-list-item-avatar>
                <v-img :src="item.avatar"></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title v-html="item.title"></v-list-item-title>
                <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list>
      </v-menu>
      <!-- Bell Icon Ends -->
      <!-- Profile Image Starts -->
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <span v-bind="attrs" v-on="on" style="cursor: pointer" class="ml-3 px-1">
            <v-avatar size="35">
              <img
                src="https://yt3.ggpht.com/yti/AJo0G0mUXHoFz92rM6sXIoXmpH5qkh4qzCwJHQKGWwYx6g=s88-c-k-c0x00ffffff-no-rj-mo" />
            </v-avatar>
          </span>
        </template>
        <v-list width="250" class="py-0">
          <v-list-item two-line>
            <v-list-item-avatar>
              <img
                src="https://yt3.ggpht.com/yti/AJo0G0mUXHoFz92rM6sXIoXmpH5qkh4qzCwJHQKGWwYx6g=s88-c-k-c0x00ffffff-no-rj-mo" />
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title> Bounmeeay YANG </v-list-item-title>
              <v-list-item-subtitle> Logged In </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-divider></v-divider>

          <v-list-item v-for="(menu, index) in menus" :key="index" link>
            <v-list-item-icon>
              <v-icon>{{ menu.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ menu.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
      <!-- Profile Image Ends -->
    </v-app-bar>
    <!-- Header Ends -->

    <!-- Home Starts -->
    <v-content>
      <v-container class="scroll-y" fluid>
        <v-row align="center" justify="center">
          <router-view></router-view>
        </v-row>
      </v-container>
    </v-content>
    <!-- Home Ends -->

    <!-- Btn Scroll Starts -->
    <v-btn v-scroll="onScroll" bottom color="pink" dark fab fixed right @click="toTop" class="clickable">
      <v-icon>mdi-chevron-up</v-icon>
    </v-btn>
    <!-- Btn Scroll Ends -->
  </v-app>
</template>

<script>
export default {
  props: {
    source: String,
  },
  data: () => ({
    menus: [
      { icon: "mdi-account", title: "Profile" },
      { title: "Changed Password", icon: "mdi-key" },
      { title: "setting", icon: "mdi-cog" },
      { title: "Logout", icon: "mdi-logout" },
    ],
    drawer: null,
    mini: false,
    fab: false,
    bell: [
      { header: "Today" },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/1.jpg",
        title: "Brunch this weekend?",
        subtitle: `<span class="text--primary">Ali Connors</span> &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to hang out?`,
      },
      { divider: true, inset: true },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/2.jpg",
        title: 'Summer BBQ <span class="grey--text text--lighten-1">4</span>',
        subtitle: `<span class="text--primary">to Alex, Scott, Jennifer</span> &mdash; Wish I could come, but I'm out of town this weekend.`,
      },
      { divider: true, inset: true },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/3.jpg",
        title: "Oui oui",
        subtitle:
          '<span class="text--primary">Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?',
      },
      { divider: true, inset: true },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/4.jpg",
        title: "Birthday gift",
        subtitle:
          '<span class="text--primary">Trevor Hansen</span> &mdash; Have any ideas about what we should get Heidi for her birthday?',
      },
      { divider: true, inset: true },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg",
        title: "Recipe to try",
        subtitle:
          '<span class="text--primary">Britta Holt</span> &mdash; We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
      },
      { divider: true, inset: true },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg",
        title: "Recipe to try",
        subtitle:
          '<span class="text--primary">Britta Holt</span> &mdash; We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
      },
      { divider: true, inset: true },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg",
        title: "Recipe to try",
        subtitle:
          '<span class="text--primary">Britta Holt</span> &mdash; We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
      },
      { divider: true, inset: true },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg",
        title: "Recipe to try",
        subtitle:
          '<span class="text--primary">Britta Holt</span> &mdash; We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
      },
    ],

    items: [
      { icon: "mdi-view-dashboard", text: "ໜ້າຫຼັກ", route: "/" },
      {
        icon: "mdi-chevron-down",
        "icon-alt": "mdi-chevron-down",
        "icon-ctr": "mdi-application-edit",
        text: "ຈັດການຂໍ້ມູນ",
        model: false,
        children: [
          {
            icon: "mdi-book-open-page-variant",
            text: "ຈັດການເອກະສານ",
            route: "/manage/documents/documents-index",
          },
          {
            icon: "mdi-book-open-blank-variant",
            text: "ຈັດການວັດສະດຸ",
            route: "/manage/materials/material-index",
          },
          {
            icon: "mdi-account-multiple",
            text: "ພະນັກງານ",
            route: "/manage/employees/employee-index",
          },
          {
            icon: "mdi-account-box-multiple",
            text: "ພະແນກ",
            route: "/department-index",
          },
          {
            icon: "mdi-account",
            text: "ຜູ້ໃຊ້",
            route: "/user-index",
          },
          {
            icon: "mdi-account-arrow-left",
            text: "ຜູ້ສະຫນອງ",
            route: "/supplier",
          },
        ],
      },
      {
        icon: "mdi-chevron-down",
        "icon-alt": "mdi-chevron-down",
        "icon-ctr": "mdi-cart",
        text: "ສັ່ງຊື້ - ນຳເຂົ້າ",
        model: false,
        children: [
          { icon: "mdi-cart-check", text: "ສັ່ງຊື້", route: "/order" },
          { icon: "mdi-cart-arrow-down", text: "ນຳເຂົ້າ", route: "/import" },
        ],
      },
      {
        icon: "mdi-chevron-down",
        "icon-alt": "mdi-chevron-down",
        "icon-ctr": "mdi-google-maps",
        text: "ການຕິດຕາມ",
        model: false,
        children: [
          { icon: "mdi-tooltip-account", text: "ສະຖານທີ່", route: "/locate" },
          { icon: "mdi-printer", text: "ພີມ", route: "/print" },
        ],
      },

      { icon: "mdi-finance", text: "ລາຍຮັບ", route: "/revenue" },
      { icon: "mdi-chart-pie", text: "ການວິເຄາະ", route: "/chart" },
      { icon: "mdi-magnify", text: "ຄົ້ນຫາ", route: "/recherches" },

    ],
  }),
  computed: {},
  methods: {
    onScroll(e) {
      if (typeof window === "undefined") return;
      const top = window.pageYOffset || e.target.scrollTop || 0;
      this.fab = top > 200;
    },
    toTop() {
      this.$vuetify.goTo(0);
    },
  },
};
</script>

<style>
.clickable {
  -webkit-app-region: no-drag;
}

.cursor {
  cursor: pointer;
}

.cursor:hover {
  color: yellow;

}

@font-face {
  font-family: "NotonSansLao-Regular";
  src: url('./assets/fonts/NotoSansLao-Regular.ttf');
}

#App {
  font-family: "NotonSansLao-Regular";
}

* {
  font-family: "NotonSansLao-Regular";
}

@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

/* .font-logo {
  cursor: pointer;
  color: white;
  font-family: 'Goblin One', cursive;
} */

.text-hover:hover {
  background-color: #0091EA;
}

.v-data-table th {
  font-size: 1.1rem;
}

.v-main {
  /* background-color: revert; */
  background-color: #e0e5eb;
  /* background-color: rgb(225, 230, 236); */
}
</style>