<template>
    <v-row no-gutters>
        <v-col cols="12" md="12">
            <v-card-title class="mt-n3" color="primary">
                <v-toolbar-title>ໜ້າຫຼັກ/ສັ່ງຊື້-ນຳເຂົ້າ/ສັ່ງຊື້/ເພີ່ມການສັ່ງຊື້</v-toolbar-title>
            </v-card-title>
            <v-card-text>
                <!-- Data Table Order-Add Starts -->
                <v-data-table class="elevation-1" dense :headers="headers" :search="search" :items="orders">
                    <template v-slot:top>
                        <v-toolbar flat>
                            <v-toolbar-title>ລາຍການທີ່ຕ້ອງການສັ່ງຊື້ ({{orders.length}})</v-toolbar-title>
                            <v-divider class="mx-4" inset vertical></v-divider>
                            <v-text-field class="mt-7" name="name" placeholder="Search" id="id" outlined dense
                                append-icon="mdi-magnify"></v-text-field>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" dark to="/order">
                                <v-icon class="mr-1">mdi-arrow-left</v-icon>ກັບຄືນ
                            </v-btn>
                        </v-toolbar>
                        <v-divider></v-divider>
                    </template>
                    <template v-slot:[`item.actions`]>
                        <v-row no-gutters justify="end">
                            <v-btn color="#007bff" dark small @click="saveAdd()">
                                <v-icon class="mr-1">
                                    mdi-plus
                                </v-icon>
                                ເພີ່ມ
                            </v-btn>
                        </v-row>
                    </template>
                    <template v-slot:no-data>
                        <v-row no-gutters justify="center" class="py-5">
                            <h3>ບໍ່ມີຂໍ້ມູນ</h3>
                        </v-row>
                    </template>
                </v-data-table>
                <!-- Data Table Order-Add Ends -->
            </v-card-text>
        </v-col>

        <v-col cols="12" md="12">
            <v-card-title class="mt-n3" color="primary">
                <v-toolbar-title>ລາຍຊື່ທີ່ສັ່ງຊື້</v-toolbar-title>
            </v-card-title>
            <!-- <v-divider></v-divider> -->
            <v-card-text>
                <!-- Data Table Department Starts -->
                <v-data-table class="elevation-1" dense :headers="headers" :search="search" :items="orders">
                    <template v-slot:top>
                        <v-toolbar flat>
                            <v-row justify="center">
                                <v-toolbar-title>ຈຳນວນທີ່ສັ່ງຊື້ ({{orders.length}})</v-toolbar-title>
                            </v-row>
                            <v-btn dark color="success" @click="saveAction(item)">
                                <v-icon class="mr-1">mdi-check</v-icon>ຢືນຢັນການສັ່ງຊື້
                            </v-btn>
                            <!-- Dailog SaveConfirm Order-Add Starts -->
                            <v-dialog v-model="dialogSaveConfirm" max-width="500px">
                                <v-card>
                                    <v-toolbar dense color="success" dark>
                                        <v-row justify="center">
                                            <v-toolbar-title>{{formTitle}}</v-toolbar-title>
                                        </v-row>
                                    </v-toolbar>
                                    <v-card-title>
                                        <v-toolbar-title>ທ່ານແນ່ໃຈບໍ່ວ່າຕ້ອງການຢືນຢັນການສັ່ງຊື້ນີ້?</v-toolbar-title>
                                    </v-card-title>
                                    <v-divider></v-divider>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn class="btn-hover" color="green" @click="saveConfirm">
                                            <v-icon class="mr-1">mdi-check</v-icon>
                                            ຢືນຢັນ
                                        </v-btn>
                                        <v-btn class="btn-hover" color="red" @click="close">
                                            <v-icon class="mr-1">mdi-close</v-icon>
                                            ຍົກເລີກ
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <!-- Dailog SaveConfirm Order-Add Ends -->
                        </v-toolbar>
                        <v-divider></v-divider>
                    </template>
                    <template v-slot:[`item.actions`]>
                        <v-row no-gutters justify="end">
                            <v-btn dark color="#dc3545" small @click="deleteItemConfirm()">
                                <v-icon class="mr-1">
                                    mdi-delete
                                </v-icon>
                                ລຶບ
                            </v-btn>
                        </v-row>
                    </template>
                    <template v-slot:no-data>
                        <v-row no-gutters justify="center" class="py-5">
                            <h3>ບໍ່ມີຂໍ້ມູນ</h3>
                        </v-row>
                    </template>
                </v-data-table>
                <!-- Data Table Department Ends -->
            </v-card-text>
            <!-- </v-card> -->
        </v-col>
    </v-row>
</template>
  
<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    data: () => ({
        search: '',
        valid: true,
        dialogSaveConfirm: false,
        headers: [
            { text: "ລຳດັບ", align: "start", sortable: false, value: "idx" },
            { text: "ຊື່ພະນັກງານ", value: "employee" },
            { text: "ຊື່ຜູ້ສະໜອງ", value: "supplier" },
            { text: "ຊື່ວັດສດຸ", value: "material_name" },
            { text: "ຈຳນວນ", value: "amount" },
            { text: "ວັນທີສ້າງ", value: "ORDER_date" },
            { text: "Actions", align: "right", value: "actions", sortable: false },
        ],
        deletedItem: {},
        editedItem: {},
        //Dailog Date-Time Starts
        date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
            .toISOString()
            .substr(0, 10),
        modal: false,
        //Dailog Date-Time Ends
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? "Delete Infor" : "ຢືນຢັນການສັ່ງຊື້";
        },
        ...mapGetters({
            orders: "orderModules/orders",
            length: 'orderModules/length'
        }),
    },

    mounted() {
        this.getOrders();
    },

    methods: {
        ...mapActions("orderModules", [
            "getOrders",
            "postOrder",
            "putOrder",
            "delOrder",
        ]),
        //Button cancelDelete and saveDelete Starts
        close() {
            this.dialogSaveConfirm = false;
        },
        saveAction(item) {
            this.deletedItem = Object.assign({}, item)
            this.dialogSaveConfirm = true;
        },
        saveConfirm() {
            this.postOrder(this.deletedItem)
                .then(() => {
                    this.$toast.success('ຢືນຢັນສຳເລັດແລ້ວ.', { position: 'bottom-left' });
                    this.getOrders();
                    this.dialogSaveConfirm = false
                    this.$router.push('/order')
                })
                .catch(e => {
                    console.log(e);
                })
        },

        //Button cancelDelete and saveDelete Ends
        deleteItemConfirm() {
            this.delOrder(this.deletedItem)
                .then(() => {
                    this.$toast.success('ລຶບສຳເລັດແລ້ວ.', { position: 'bottom-left' });
                    this.getOrders();
                    this.dialogDelete = false
                })
                .catch(e => {
                    console.log(e);
                })
        },
    }
};
</script>
    
<style scoped>
.btn-hover:hover {
    background-color: #e3f2fd;
    color: white;
    font-weight: bold;
}
</style>
    