<template>
  <v-row no-gutters>
    <v-col cols="12" md="12">
      <v-card-title class="mt-n3" color="primary">
        <v-toolbar-title>ໜ້າຫຼັກ/ສັ່ງຊື້-ນຳເຂົ້າ/ສັ່ງຊື້</v-toolbar-title>
      </v-card-title>
      <v-card-text>
        <!-- Data Table Department Starts -->
        <v-data-table class="elevation-1" dense :headers="headers" :search="search" :items="orders">
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>ລາຍຊື່ການສັ່ງຊື້ ({{orders.length}})</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-text-field class="mt-7" name="name" placeholder="Search" id="id" outlined dense
                append-icon="mdi-magnify"></v-text-field>
              <v-spacer></v-spacer>
              <v-btn color="primary" dark to="/order-add">
                <v-icon class="mr-1">mdi-plus</v-icon>ເພີ່ມການສັ່ງຊື້
              </v-btn>
              <!-- Dailog Edit/Update Department Starts -->
              <v-dialog v-model="dialogUpdate" persistent max-width="500px">
                <v-card flat>
                  <v-toolbar dense color="primary" dark>
                    <v-row justify="center">
                      <v-toolbar-title>{{formTitleUpdate}}</v-toolbar-title>
                    </v-row>
                  </v-toolbar>
                  <v-card-text>
                    <v-row justify="center" class="mt-3">
                      <v-col cols="12" class="mb-n5">
                        <v-text-field dense outlined v-model="editedItem.employee" label="ຊື່ພະນັກງານ" required
                          :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ພະນັກງານ.']">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" class="mb-n5">
                        <v-text-field dense outlined v-model="editedItem.supplier" label="ຊື່ຜູ້ສະໜອງ" required
                          :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ຜູ້ສະໜອງ.']">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" class="mb-n5">
                        <v-text-field dense outlined v-model="editedItem.material_name" label="ຊື່ວັດສະດຸ" required
                          :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຊື່ວັດສະດຸ.']">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" class="mb-n5">
                        <v-text-field type="number" dense outlined v-model="editedItem.amount" label="ຈຳນວນ" required
                          :rules="[(val)=> !!val || 'ກະລຸນາປ້ອນຈຳນວນ.']">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" class="mb-n8">
                        <v-dialog ref="dialog" v-model="modal" :return-value.sync="date" persistent width="300px">
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field v-model="editedItem.ORDER_date" label="Date-Time" append-icon="mdi-calendar"
                              readonly outlined dense v-bind="attrs" v-on="on"></v-text-field>
                          </template>
                          <v-divider></v-divider>
                          <v-date-picker v-model="date" scrollable>
                            <v-spacer></v-spacer>
                            <v-btn class="btn-hover" color="blue" @click="$refs.dialog.save(date)">
                              ຕົກລົງ
                            </v-btn>
                            <v-btn class="btn-hover" color="red" @click="modal = false">
                              ຍົກເລີກ
                            </v-btn>
                          </v-date-picker>
                        </v-dialog>
                      </v-col>
                    </v-row>
                  </v-card-text>
                  <v-divider></v-divider>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="btn-hover" color="blue " @click.prevent="saveUpdate">
                      <v-icon class="mr-1">mdi-check</v-icon>
                      ບັນທຶກ
                    </v-btn>
                    <v-btn class="btn-hover" color="red " @click.prevent="cancelUpdate">
                      <v-icon class="mr-1">mdi-close</v-icon>
                      ຍົກເລີກ
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Dailog Edit/Update Department Ends -->
              <!-- Dailog Delete Department Starts -->
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-toolbar dense color="primary" dark>
                    <v-row justify="center">
                      <v-toolbar-title>{{formTitleDelete}}</v-toolbar-title>
                    </v-row>
                  </v-toolbar>
                  <v-card-title>
                    <v-toolbar-title>ທ່ານແນ່ໃຈບໍ່ວ່າຕ້ອງການລຶບລາຍການນີ້?</v-toolbar-title>
                  </v-card-title>
                  <v-divider></v-divider>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="btn-hover" color="blue" @click="deleteItemConfirm">
                      <v-icon class="mr-1">mdi-check</v-icon>
                      ຕົກລົງ
                    </v-btn>
                    <v-btn class="btn-hover" color="red" @click="closeDelete">
                      <v-icon class="mr-1">mdi-close</v-icon>
                      ຍົກເລີກ
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Dailog Delete Department Ends -->
            </v-toolbar>
            <v-divider></v-divider>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-row no-gutters justify="end">
              <v-btn color="#28a745" dark small @click="updateItem(item)">
                <v-icon class="mr-1">
                  mdi-pen
                </v-icon>
                ແກ້ໄຂ
              </v-btn>
              <v-btn dark color="#dc3545" small @click="deleteAction(item)" class="ml-2">
                <v-icon class="mr-1">
                  mdi-delete
                </v-icon>
                ລຶບ
              </v-btn>
            </v-row>
          </template>
          <template v-slot:no-data>
            <v-row no-gutters justify="center" class="py-5">
              <h3>ບໍ່ມີຂໍ້ມູນ</h3>
            </v-row>
          </template>
        </v-data-table>
        <!-- Data Table Department Ends -->
      </v-card-text>
      <!-- </v-card> -->
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  data: () => ({
    search: '',
    supplier: {},
    valid: true,
    dialogAdd: false,
    dialogUpdate: false,
    dialogDelete: false,
    headers: [
      { text: "ລຳດັບ", align: "start", sortable: false, value: "idx" },
      { text: "ຊື່ພະນັກງານ", value: "employee" },
      { text: "ຊື່ຜູ້ສະໜອງ", value: "supplier" },
      { text: "ຊື່ວັດສດຸ", value: "material_name" },
      { text: "ຈຳນວນ", value: "amount" },
      { text: "ວັນທີສ້າງ", value: "ORDER_date" },
      { text: "Actions", align: "right", value: "actions", sortable: false },
    ],
    deletedItem: {},
    editedItem: {},
    //Dailog Date-Time Starts
    date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    modal: false,
    //Dailog Date-Time Ends
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "ເພີ່ມການສັ່ງຊື້ໃໝ່" : "ເພີ່ມການສັ່ງຊື້ໃໝ່";
    },
    formTitleUpdate() {
      return this.editedIndex === -1 ? "ແກ້ໄຂການສັ່ງຊື້" : "ແກ້ໄຂການສັ່ງຊື້";
    },
    formTitleDelete() {
      return this.editedIndex === -1 ? "Delete Infor" : "ລຶບຂໍ້ມູນ";
    },
    ...mapGetters({
      orders: "orderModules/orders",
      length: 'orderModules/length'
    }),
  },

  mounted() {
    this.getOrders();
  },

  methods: {
    ...mapActions("orderModules", [
      "getOrders",
      "postOrder",
      "putOrder",
      "delOrder",
    ]),
    //Button cancelAdd and saveAdd Starts
    // cancelAdd() {
    //   this.dialogAdd = false;
    // this.editedItem={}
    // this.$refs.form.cancelAdd()
    // },
    // saveAdd() {
    //   if (!this.editedItem.employee || !this.editedItem.supplier || !this.editedItem.material_name || !this.editedItem.amount) {
    //     this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.', {
    //       position: 'bottom-left'
    //     });
    //     return
    //   }
    //   const item = {
    //     orderId: this.editedItem.orderId,
    //     employee: this.editedItem.employee,
    //     supplier: this.editedItem.supplier,
    //     material_id: this.editedItem.material_id,
    //     material_name: this.editedItem.material_name,
    //     amount: this.editedItem.amount,
    //     ORDER_date: this.editedItem.ORDER_date
    //   }
    //   this.postOrder(item)
    //     .then(() => {
    //       this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', { position: 'bottom-left' });
    //       this.getOrders();
    //       this.dialogAdd = false;
    //       this.editedItem = {};
    //     })
    //     .catch(e => console.log(e))
    // },
    //Button cancelAdd and saveAdd Ends
    //Button cancelUpdate and saveUpdate Starts
    updateItem(item) {
      this.editedItem = Object.assign({}, item)
      this.dialogUpdate = true;
    },
    cancelUpdate() {
      this.dialogUpdate = false;
    },
    saveUpdate() {
      if (!this.editedItem.employee || !this.editedItem.supplier || !this.editedItem.material_name || !this.editedItem.amount) {
        this.$toast.error('ກະລຸນາປ້ອນຂໍ້ມູນໃສ່.', {
          position: 'bottom-left'
        });
        return
      }
      const item = {
        orderId: this.editedItem.orderId,
        employee: this.editedItem.employee,
        supplier: this.editedItem.supplier,
        material_id: this.editedItem.material_id,
        material_name: this.editedItem.material_name,
        amount: this.editedItem.amount,
        ORDER_date: this.editedItem.ORDER_date
      }
      this.putOrder(item)
        .then((res) => {
          console.log(res);
          this.$toast.success('ບັນທຶກສຳເລັດແລ້ວ.', {
            position: 'bottom-left'
          });
          this.getOrders();
          this.dialogUpdate = false;
          this.editedItem = {}
        })
        .catch(e => console.log(e))
    },
    //Button cancelUpdate and saveUpdate Ends
    //Button cancelDelete and saveDelete Starts
    closeDelete() {
      this.dialogDelete = false;
    },
    deleteAction(item) {
      this.deletedItem = Object.assign({}, item)
      this.dialogDelete = true;
    },
    deleteItemConfirm() {
      this.delOrder(this.deletedItem)
        .then(() => {
          this.$toast.success('ລຶບສຳເລັດແລ້ວ.', { position: 'bottom-left' });
          this.getOrders();
          this.dialogDelete = false
        })
        .catch(e => {
          console.log(e);
          this.$toast.error('ຂໍ້ມູນຍັງຖືກງານ.', { position: 'bottom-left' });
        })
    },
    //Button cancelDelete and saveDelete Ends
  }
};
</script>
  
<style scoped>
.btn-hover:hover {
  background-color: #e3f2fd;
  color: white;
  font-weight: bold;
}
</style>
  